In [3348]:
import pandas as m
a=[1,2,3,4,5]
b=m.DataFrame(a)# changed to pandas dataframe
print(b)
print(type(b))

   0
0  1
1  2
2  3
3  4
4  5
<class 'pandas.core.frame.DataFrame'>

In [3349]:
a=["A","B","C","D","E"]
b=m.DataFrame(a) #a list variable converted to b pandas dataframe variable,dataframe is a pandas class called by pandas object m
print(b)

   0
0  A
1  B
2  C
3  D
4  E

In [3350]:
a=["Aaaaaaaaaaaa","Bbbbbbbbbb","Ccccccccccc","Dddddddddd","Eeeeeeeeeee"]
b=m.Series(a)  #a list variable directly converted to pandas Series() class variable,Series is a pandas class called by pandas object m
print(a)
print(type(a))
print(b)
print(type(b))

['Aaaaaaaaaaaa', 'Bbbbbbbbbb', 'Ccccccccccc', 'Dddddddddd', 'Eeeeeeeeeee']
<class 'list'>
0    Aaaaaaaaaaaa
1      Bbbbbbbbbb
2     Ccccccccccc
3      Dddddddddd
4     Eeeeeeeeeee
dtype: object
<class 'pandas.core.series.Series'>

In [3351]:
a=["A","B","C","D","E"]
print(type(a))
m.DataFrame(a) #a is still list variable but displayed by dataframe class in ddataframe format with row column

<class 'list'>

   0
0  A
1  B
2  C
3  D
4  E

In [3352]:
b=m.Series(a)  #a list variable directly converted to pandas Series() class variable,Series is a pandas class called by pandas object m
print(a)
print(type(a))         #ALL FORMATS OF PRINT FUNCTIONS
print(b)                #TYPE CONVERSION SYNTAX EXAMPLE
print(type(b))
print(type(m.Series(a)))
print(m.Series(a))

['A', 'B', 'C', 'D', 'E']
<class 'list'>
0    A
1    B
2    C
3    D
4    E
dtype: object
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
0    A
1    B
2    C
3    D
4    E
dtype: object

In [3353]:
b

0    A
1    B
2    C
3    D
4    E
dtype: object

In [3354]:
b.values

array(['A', 'B', 'C', 'D', 'E'], dtype=object)

In [3355]:
b.index

RangeIndex(start=0, stop=5, step=1)

In [3356]:
b.dtype

dtype('O')

In [3357]:
b=m.Series([1.8,3.4,6.3,4.2,6.4])
b

0    1.8
1    3.4
2    6.3
3    4.2
4    6.4
dtype: float64

In [3358]:
b.sum()

22.1

In [3359]:
b.product()

1036.3852800000002

In [3360]:
b.mean()

4.42

In [3361]:
m.Series() #shift+tab will  give all arguments and full discription of this method, long press shift+tab will give full summry

Series([], dtype: float64)

In [3362]:
a=[0,0,0,0,0]
b=[9,9,9,9,9]
m.Series(a,b) # a data b ibdex as per syntax

9    0
9    0
9    0
9    0
9    0
dtype: int64

In [3363]:
m.Series(a) #0,1,2,3,4.... default index when index not passed

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [3364]:
m.Series(data=a,index=b)

9    0
9    0
9    0
9    0
9    0
dtype: int64

In [3365]:
m.Series(
    data=None,
    index=None,
    dtype=None,               # FULL SERIES SYNTAX
    name=None,
    copy=False,
    fastpath=False,
)

Series([], dtype: float64)

In [3366]:
cars=m.read_csv(r"F:\cars2.csv")
cars

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3367]:
'''
cars=m.read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]],
    sep=',',                                                                  #csvread syntax all arguments to be passed
    delimiter=None,
    header='infer',
    names=None,
    index_col=None,
    usecols=None,
    squeeze=False,
    prefix=None,
    mangle_dupe_cols=True,
    dtype=None,
    engine=None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace=False,
    skiprows=None,
    skipfooter=0,
    nrows=None,
    na_values=None,
    keep_default_na=True,
    na_filter=True,
    verbose=False,
    skip_blank_lines=True,
    parse_dates=False,
    infer_datetime_format=False,
    keep_date_col=False,
    date_parser=None,
    dayfirst=False,
    cache_dates=True,
    iterator=False,
    chunksize=None,
    compression='infer',
    thousands=None,
    decimal=b'.',
    lineterminator=None,
    quotechar='"',
    quoting=0,
    doublequote=True,
    escapechar=None,
    comment=None,
    encoding=None,
    dialect=None,
    error_bad_lines=True,
    warn_bad_lines=True,
    delim_whitespace=False,
    low_memory=True,
    memory_map=False,
    float_precision=None,
)
'''
cars

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3368]:
#read_csv a file
m.read_csv("F:\cars2.csv")

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3369]:
m.read_csv("F:\cars2.csv",squeeze=True) #data converted to pandas series object

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3370]:
m.read_csv("F:\cars2.csv",squeeze=True,usecols=["Unnamed: 0"])  # accessing specified column

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: Unnamed: 0, dtype: object

In [3371]:
cars=m.read_csv("F:\cars2.csv",squeeze=True) #whole csv file assigned to cars variable
cars1=m.read_csv("F:\cars2.csv",squeeze=True,usecols=["Unnamed: 0"]) #assigned to a variable cars
print(type(cars1))                                  #only that column assigned as series to cars1 variable
cars

<class 'pandas.core.series.Series'>

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3372]:
cars1.head()

0            Mazda RX4
1        Mazda RX4 Wag
2           Datsun 710
3       Hornet 4 Drive
4    Hornet Sportabout
Name: Unnamed: 0, dtype: object

In [3373]:
cars1.head(10)

0            Mazda RX4
1        Mazda RX4 Wag
2           Datsun 710
3       Hornet 4 Drive
4    Hornet Sportabout
5              Valiant
6           Duster 360
7            Merc 240D
8             Merc 230
9             Merc 280
Name: Unnamed: 0, dtype: object

In [3374]:
cars1.tail()

27      Lotus Europa
28    Ford Pantera L
29      Ferrari Dino
30     Maserati Bora
31        Volvo 142E
Name: Unnamed: 0, dtype: object

In [3375]:
cars1.tail(10)

22         AMC Javelin
23          Camaro Z28
24    Pontiac Firebird
25           Fiat X1-9
26       Porsche 914-2
27        Lotus Europa
28      Ford Pantera L
29        Ferrari Dino
30       Maserati Bora
31          Volvo 142E
Name: Unnamed: 0, dtype: object

In [3376]:
cars.values #values is an attribute not method so no ()
#values gives out all values instead ofcolumn name

array([['Mazda RX4', 21.0, 6, 160.0, 110, 3.9, 2.62, 16.46, 0, 1, 4, 4],
       ['Mazda RX4 Wag', 21.0, 6, 160.0, 110, 3.9, 2.875, 17.02, 0, 1, 4,
        4],
       ['Datsun 710', 22.8, 4, 108.0, 93, 3.85, 2.32, 18.61, 1, 1, 4, 1],
       ['Hornet 4 Drive', 21.4, 6, 258.0, 110, 3.08, 3.215, 19.44, 1, 0,
        3, 1],
       ['Hornet Sportabout', 18.7, 8, 360.0, 175, 3.15, 3.44, 17.02, 0,
        0, 3, 2],
       ['Valiant', 18.1, 6, 225.0, 105, 2.76, 3.46, 20.22, 1, 0, 3, 1],
       ['Duster 360', 14.3, 8, 360.0, 245, 3.21, 3.57, 15.84, 0, 0, 3, 4],
       ['Merc 240D', 24.4, 4, 146.7, 62, 3.69, 3.19, 20.0, 1, 0, 4, 2],
       ['Merc 230', 22.8, 4, 140.8, 95, 3.92, 3.15, 22.9, 1, 0, 4, 2],
       ['Merc 280', 19.2, 6, 167.6, 123, 3.92, 3.44, 18.3, 1, 0, 4, 4],
       ['Merc 280C', 17.8, 6, 167.6, 123, 3.92, 3.44, 18.9, 1, 0, 4, 4],
       ['Merc 450SE', 16.4, 8, 275.8, 180, 3.07, 4.07, 17.4, 0, 0, 3, 3],
       ['Merc 450SL', 17.3, 8, 275.8, 180, 3.07, 3.73, 17.6, 0, 0, 3, 3],
       ['Merc 450SLC', 15.2, 8, 275.8, 180, 3.07, 3.78, 18.0, 0, 0, 3, 3],
       ['Cadillac Fleetwood', 10.4, 8, 472.0, 205, 2.93, 5.25, 17.98, 0,
        0, 3, 4],
       ['Lincoln Continental', 10.4, 8, 460.0, 215, 3.0,
        5.4239999999999995, 17.82, 0, 0, 3, 4],
       ['Chrysler Imperial', 14.7, 8, 440.0, 230, 3.23, 5.345, 17.42, 0,
        0, 3, 4],
       ['Fiat 128', 32.4, 4, 78.7, 66, 4.08, 2.2, 19.47, 1, 1, 4, 1],
       ['Honda Civic', 30.4, 4, 75.7, 52, 4.93, 1.615, 18.52, 1, 1, 4, 2],
       ['Toyota Corolla', 33.9, 4, 71.1, 65, 4.22, 1.835, 19.9, 1, 1, 4,
        1],
       ['Toyota Corona', 21.5, 4, 120.1, 97, 3.7, 2.465, 20.01, 1, 0, 3,
        1],
       ['Dodge Challenger', 15.5, 8, 318.0, 150, 2.76, 3.52, 16.87, 0, 0,
        3, 2],
       ['AMC Javelin', 15.2, 8, 304.0, 150, 3.15, 3.435, 17.3, 0, 0, 3,
        2],
       ['Camaro Z28', 13.3, 8, 350.0, 245, 3.73, 3.84, 15.41, 0, 0, 3, 4],
       ['Pontiac Firebird', 19.2, 8, 400.0, 175, 3.08, 3.845, 17.05, 0,
        0, 3, 2],
       ['Fiat X1-9', 27.3, 4, 79.0, 66, 4.08, 1.935, 18.9, 1, 1, 4, 1],
       ['Porsche 914-2', 26.0, 4, 120.3, 91, 4.43, 2.14, 16.7, 0, 1, 5,
        2],
       ['Lotus Europa', 30.4, 4, 95.1, 113, 3.77, 1.5130000000000001,
        16.9, 1, 1, 5, 2],
       ['Ford Pantera L', 15.8, 8, 351.0, 264, 4.22, 3.17, 14.5, 0, 1, 5,
        4],
       ['Ferrari Dino', 19.7, 6, 145.0, 175, 3.62, 2.77, 15.5, 0, 1, 5,
        6],
       ['Maserati Bora', 15.0, 8, 301.0, 335, 3.54, 3.57, 14.6, 0, 1, 5,
        8],
       ['Volvo 142E', 21.4, 4, 121.0, 109, 4.11, 2.78, 18.6, 1, 1, 4, 2]],
      dtype=object)

In [3377]:
cars1.values # cars1 only had names so all car names printed

array(['Mazda RX4', 'Mazda RX4 Wag', 'Datsun 710', 'Hornet 4 Drive',
       'Hornet Sportabout', 'Valiant', 'Duster 360', 'Merc 240D',
       'Merc 230', 'Merc 280', 'Merc 280C', 'Merc 450SE', 'Merc 450SL',
       'Merc 450SLC', 'Cadillac Fleetwood', 'Lincoln Continental',
       'Chrysler Imperial', 'Fiat 128', 'Honda Civic', 'Toyota Corolla',
       'Toyota Corona', 'Dodge Challenger', 'AMC Javelin', 'Camaro Z28',
       'Pontiac Firebird', 'Fiat X1-9', 'Porsche 914-2', 'Lotus Europa',
       'Ford Pantera L', 'Ferrari Dino', 'Maserati Bora', 'Volvo 142E'],
      dtype=object)

In [3378]:
cars.index #gives start and end index

RangeIndex(start=0, stop=32, step=1)

In [3379]:
cars1.index

RangeIndex(start=0, stop=32, step=1)

In [3380]:
cars.mean() #gives out means of all numerical column, only work on numerical columns

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [3381]:
cars.median() #gives out medians of all numerical column, only work on numerical columns

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [3382]:
cars.mode() #gives out mode of all numerical column, only work on numerical columns

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,AMC Javelin,10.4,8.0,275.8,110.0,3.07,3.44,17.02,0.0,0.0,3.0,2.0
1,Cadillac Fleetwood,15.2,NaN,NaN,175.0,3.92,NaN,18.90,NaN,NaN,NaN,4.0
2,Camaro Z28,19.2,NaN,NaN,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Chrysler Imperial,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Datsun 710,21.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Dodge Challenger,22.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Duster 360,30.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Ferrari Dino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Fiat 128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Fiat X1-9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Ford Pantera L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Honda Civic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Hornet 4 Drive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Hornet Sportabout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Lotus Europa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Maserati Bora,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Mazda RX4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Mazda RX4 Wag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Merc 230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Merc 240D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Merc 280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Merc 280C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Merc 450SE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Merc 450SL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Merc 450SLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Pontiac Firebird,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Porsche 914-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Toyota Corona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Valiant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Volvo 142E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3383]:
cars.std() #gives out standard deviation of all numerical column, only work on numerical columns

mpg       6.026948
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.786943
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [3384]:
cars.sum() #gives out sum of all numerical column, only work on numerical columns

Unnamed: 0    Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...
mpg                                                       642.9
cyl                                                         198
disp                                                     7383.1
hp                                                         4694
drat                                                     115.09
wt                                                      102.952
qsec                                                     571.16
vs                                                           14
am                                                           13
gear                                                        118
carb                                                         90
dtype: object

In [3385]:
cars.product() #gives out product of all numerical column, only work on numerical columns

mpg     1.264241e+41
cyl     5.163908e+24
disp    2.789968e+73
hp      7.016390e+67
drat    4.366447e+17
wt      3.884021e+15
qsec    9.651882e+39
vs      0.000000e+00
am      0.000000e+00
gear    7.522960e+17
carb    1.391569e+12
dtype: float64

In [3386]:
cars1.dtype #gives out datatypes of column,work on only one column further research needed, Omean object datatype

dtype('O')

In [3387]:
cars["hp"].dtype #gives out datatypes of column,work on only one column further research needed

dtype('int64')

In [3388]:
cars["mpg"].dtype #gives out datatypes of column,work on only one column further research needed

dtype('float64')

In [3389]:
#to check if all data are uniquein any column
cars["hp"].is_unique #gives boolean output, hp values same for few cars so false, not unique

False

In [3390]:
#to check if all data are uniquein any column
cars1.is_unique #gives boolean output, all cars name different so true

True

In [3391]:
cars.ndim   #gives matrix dimention, cars is 2d matrix

2

In [3392]:
cars1.ndim #cars1 1d matrix

1

In [3393]:
cars.shape #gives out rows*columns shape of matrix

(32, 12)

In [3394]:
cars1.shape #gives out rows*columns shape of matrix

(32,)

In [3395]:
cars.size #total no. of elements 32*12=384

384

In [3396]:
cars1.size #total no,of elements 32

32

In [3397]:
cars1.name #gives name of specific column

'Unnamed: 0'

In [3398]:
cars["mpg"].name #gives name of specific column

'mpg'

In [3399]:
cars3=m.read_csv("F:\cars3.csv",squeeze=True)
cars3.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3400]:
cars3.name="zzzzz"
cars3.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3401]:
cars1.name="zzzzz"
cars1.head()

0            Mazda RX4
1        Mazda RX4 Wag
2           Datsun 710
3       Hornet 4 Drive
4    Hornet Sportabout
Name: zzzzz, dtype: object

In [3402]:
cars1

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: zzzzz, dtype: object

In [3403]:
cars.sort_values   #ALL VALUES SHORTED IN ACCENDING

<bound method DataFrame.sort_values of              Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2  >

In [3404]:
cars1.sort_values   #ALL VALUES SHORTED IN ACCENDING

<bound method Series.sort_values of 0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: zzzzz, dtype: object>

In [3405]:
cars1.sort_values()   #ALL VALUES SHORTED IN ACCENDING, can only work on single column

22            AMC Javelin
14     Cadillac Fleetwood
23             Camaro Z28
16      Chrysler Imperial
2              Datsun 710
21       Dodge Challenger
6              Duster 360
29           Ferrari Dino
17               Fiat 128
25              Fiat X1-9
28         Ford Pantera L
18            Honda Civic
3          Hornet 4 Drive
4       Hornet Sportabout
15    Lincoln Continental
27           Lotus Europa
30          Maserati Bora
0               Mazda RX4
1           Mazda RX4 Wag
8                Merc 230
7               Merc 240D
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
24       Pontiac Firebird
26          Porsche 914-2
19         Toyota Corolla
20          Toyota Corona
5                 Valiant
31             Volvo 142E
Name: zzzzz, dtype: object

In [3406]:
cars1.sort_values(ascending=False)  #ALL VALUES SHORTED IN DECENDING, can only work on single column

31             Volvo 142E
5                 Valiant
20          Toyota Corona
19         Toyota Corolla
26          Porsche 914-2
24       Pontiac Firebird
13            Merc 450SLC
12             Merc 450SL
11             Merc 450SE
10              Merc 280C
9                Merc 280
7               Merc 240D
8                Merc 230
1           Mazda RX4 Wag
0               Mazda RX4
30          Maserati Bora
27           Lotus Europa
15    Lincoln Continental
4       Hornet Sportabout
3          Hornet 4 Drive
18            Honda Civic
28         Ford Pantera L
25              Fiat X1-9
17               Fiat 128
29           Ferrari Dino
6              Duster 360
21       Dodge Challenger
2              Datsun 710
16      Chrysler Imperial
23             Camaro Z28
14     Cadillac Fleetwood
22            AMC Javelin
Name: zzzzz, dtype: object

In [3407]:
cars["hp"].sort_values(ascending=False)  #ALL VALUES SHORTED IN DECENDING, can only work on single column

30    335
28    264
6     245
23    245
16    230
15    215
14    205
11    180
13    180
12    180
4     175
24    175
29    175
22    150
21    150
9     123
10    123
27    113
3     110
1     110
0     110
31    109
5     105
20     97
8      95
2      93
26     91
17     66
25     66
19     65
7      62
18     52
Name: hp, dtype: int64

In [3408]:
cars["hp"].sort_values()  #ALL VALUES SHORTED IN acending, can only work on single column

18     52
7      62
19     65
25     66
17     66
26     91
2      93
8      95
20     97
5     105
31    109
0     110
1     110
3     110
27    113
10    123
9     123
21    150
22    150
29    175
24    175
4     175
12    180
13    180
11    180
14    205
15    215
16    230
23    245
6     245
28    264
30    335
Name: hp, dtype: int64

In [3409]:
cars["hp"].sort_values().head(10)  #first ten VALUES SHORTED IN acending, can only work on single column

18     52
7      62
19     65
25     66
17     66
26     91
2      93
8      95
20     97
5     105
Name: hp, dtype: int64

In [3410]:
cars["disp"].sort_values().tail(10)  #last ten VALUES SHORTED IN acending, can only work on single column

22    304.0
21    318.0
23    350.0
28    351.0
6     360.0
4     360.0
24    400.0
16    440.0
15    460.0
14    472.0
Name: disp, dtype: float64

In [3411]:
cars

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3412]:
cdp=cars["disp"].sort_values()
cdp.head(10) #now cdp is single column array in sorted format

19     71.1
18     75.7
17     78.7
25     79.0
27     95.1
2     108.0
20    120.1
26    120.3
31    121.0
8     140.8
Name: disp, dtype: float64

In [3413]:
cdp.sort_values(inplace=False) # FIND OUT MORE ABOUT INPLACE ARGUMENT and SORT_INDEX()

19     71.1
18     75.7
17     78.7
25     79.0
27     95.1
2     108.0
20    120.1
26    120.3
31    121.0
8     140.8
29    145.0
7     146.7
0     160.0
1     160.0
9     167.6
10    167.6
5     225.0
3     258.0
13    275.8
11    275.8
12    275.8
30    301.0
22    304.0
21    318.0
23    350.0
28    351.0
6     360.0
4     360.0
24    400.0
16    440.0
15    460.0
14    472.0
Name: disp, dtype: float64

In [3414]:
cdp.sort_index()

0     160.0
1     160.0
2     108.0
3     258.0
4     360.0
5     225.0
6     360.0
7     146.7
8     140.8
9     167.6
10    167.6
11    275.8
12    275.8
13    275.8
14    472.0
15    460.0
16    440.0
17     78.7
18     75.7
19     71.1
20    120.1
21    318.0
22    304.0
23    350.0
24    400.0
25     79.0
26    120.3
27     95.1
28    351.0
29    145.0
30    301.0
31    121.0
Name: disp, dtype: float64

In [3415]:
cdp

19     71.1
18     75.7
17     78.7
25     79.0
27     95.1
2     108.0
20    120.1
26    120.3
31    121.0
8     140.8
29    145.0
7     146.7
0     160.0
1     160.0
10    167.6
9     167.6
5     225.0
3     258.0
13    275.8
11    275.8
12    275.8
30    301.0
22    304.0
21    318.0
23    350.0
28    351.0
6     360.0
4     360.0
24    400.0
16    440.0
15    460.0
14    472.0
Name: disp, dtype: float64

In [3416]:
cdp[17] #we get 17th index data

78.7

In [3417]:
cdp[[10,17,21]] #three index values

10    167.6
17     78.7
21    318.0
Name: disp, dtype: float64

In [3418]:
cdp[7:17] #7 to 17 index values index values

26    120.3
31    121.0
8     140.8
29    145.0
7     146.7
0     160.0
1     160.0
10    167.6
9     167.6
5     225.0
Name: disp, dtype: float64

In [3419]:
cars[5:13] # for 2d array 5 to13 rows

    Unnamed: 0   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
5      Valiant  18.1    6  225.0  105  2.76  3.46  20.22   1   0     3     1
6   Duster 360  14.3    8  360.0  245  3.21  3.57  15.84   0   0     3     4
7    Merc 240D  24.4    4  146.7   62  3.69  3.19  20.00   1   0     4     2
8     Merc 230  22.8    4  140.8   95  3.92  3.15  22.90   1   0     4     2
9     Merc 280  19.2    6  167.6  123  3.92  3.44  18.30   1   0     4     4
10   Merc 280C  17.8    6  167.6  123  3.92  3.44  18.90   1   0     4     4
11  Merc 450SE  16.4    8  275.8  180  3.07  4.07  17.40   0   0     3     3
12  Merc 450SL  17.3    8  275.8  180  3.07  3.73  17.60   0   0     3     3

In [3420]:
cars[:7] # for 2d array upto 7th row

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4

In [3421]:
cars[16:] #  from 16th row

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3422]:
cars[:-7] # negetive indexing

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2

In [3423]:
cars[:-7] # negetive indexing

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2

In [3424]:
cars[-17:-7] # negetive indexing

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2

In [3425]:
cars[-17:] #negetive indexing

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3426]:
cars.iloc[5:11,7:17]

     qsec  vs  am  gear  carb
5   20.22   1   0     3     1
6   15.84   0   0     3     4
7   20.00   1   0     4     2
8   22.90   1   0     4     2
9   18.30   1   0     4     4
10  18.90   1   0     4     4

In [3427]:
cars.iloc[:10,10:]

   gear  carb
0     4     4
1     4     4
2     4     1
3     3     1
4     3     2
5     3     1
6     3     4
7     4     2
8     4     2
9     4     4

In [3428]:
cars.iloc[10:,:10]

             Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1

In [3429]:
cars

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3430]:
cars5=m.read_csv(r"F:\cars2.csv",index_col="Unnamed: 0",squeeze=True)
cars5   #index_col argumentwill make any user defined column like car name unnamed:0 column of cars2.csv here to be new index of the data which we stored in cars5 variable

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3431]:
cars6=cars5["mpg"]
cars6 # cars6 is now 1d series with carname as index and mpg as its data

Mazda RX4              21.0
Mazda RX4 Wag          21.0
Datsun 710             22.8
Hornet 4 Drive         21.4
Hornet Sportabout      18.7
Valiant                18.1
Duster 360             14.3
Merc 240D              24.4
Merc 230               22.8
Merc 280               19.2
Merc 280C              17.8
Merc 450SE             16.4
Merc 450SL             17.3
Merc 450SLC            15.2
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Chrysler Imperial      14.7
Fiat 128               32.4
Honda Civic            30.4
Toyota Corolla         33.9
Toyota Corona          21.5
Dodge Challenger       15.5
AMC Javelin            15.2
Camaro Z28             13.3
Pontiac Firebird       19.2
Fiat X1-9              27.3
Porsche 914-2          26.0
Lotus Europa           30.4
Ford Pantera L         15.8
Ferrari Dino           19.7
Maserati Bora          15.0
Volvo 142E             21.4
Name: mpg, dtype: float64

In [3432]:
cars6[5] #we can still use normal mumerical indexing

18.1

In [3433]:
cars6["Valiant"] #car name now index in cars6

18.1

In [3434]:
cars6[[10,14]]

Merc 280C             17.8
Cadillac Fleetwood    10.4
Name: mpg, dtype: float64

In [3435]:
cars6[["Merc 280C","Cadillac Fleetwood"]] #we can see output from above and below

Merc 280C             17.8
Cadillac Fleetwood    10.4
Name: mpg, dtype: float64

In [3436]:
cars6["Merc 280C":"Cadillac Fleetwood"] # from a to b all data

Merc 280C             17.8
Merc 450SE            16.4
Merc 450SL            17.3
Merc 450SLC           15.2
Cadillac Fleetwood    10.4
Name: mpg, dtype: float64

In [3437]:
import pandas as m
cars5=m.read_csv("F:\cars2.csv",index_col="Unnamed: 0",squeeze=True)
cars7=cars5["mpg"]
print(cars7)

Mazda RX4              21.0
Mazda RX4 Wag          21.0
Datsun 710             22.8
Hornet 4 Drive         21.4
Hornet Sportabout      18.7
Valiant                18.1
Duster 360             14.3
Merc 240D              24.4
Merc 230               22.8
Merc 280               19.2
Merc 280C              17.8
Merc 450SE             16.4
Merc 450SL             17.3
Merc 450SLC            15.2
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Chrysler Imperial      14.7
Fiat 128               32.4
Honda Civic            30.4
Toyota Corolla         33.9
Toyota Corona          21.5
Dodge Challenger       15.5
AMC Javelin            15.2
Camaro Z28             13.3
Pontiac Firebird       19.2
Fiat X1-9              27.3
Porsche 914-2          26.0
Lotus Europa           30.4
Ford Pantera L         15.8
Ferrari Dino           19.7
Maserati Bora          15.0
Volvo 142E             21.4
Name: mpg, dtype: float64

In [3438]:
cars8=m.read_csv("F:\cars2.csv",squeeze=True)

In [3439]:
cars8=cars8["mpg"]

In [3440]:
cars9=cars8.sort_values()

In [3441]:
cars9

15    10.4
14    10.4
23    13.3
6     14.3
16    14.7
30    15.0
13    15.2
22    15.2
21    15.5
28    15.8
11    16.4
12    17.3
10    17.8
5     18.1
4     18.7
9     19.2
24    19.2
29    19.7
0     21.0
1     21.0
3     21.4
31    21.4
20    21.5
8     22.8
2     22.8
7     24.4
26    26.0
25    27.3
27    30.4
18    30.4
17    32.4
19    33.9
Name: mpg, dtype: float64

In [3442]:
cars9.sort_index(inplace=True)

In [3443]:
cars9

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

In [3444]:
cars5=m.read_csv("F:\cars2.csv",index_col="Unnamed: 0",squeeze=True)
cars7=cars5["mpg"]
print(cars7)

Mazda RX4              21.0
Mazda RX4 Wag          21.0
Datsun 710             22.8
Hornet 4 Drive         21.4
Hornet Sportabout      18.7
Valiant                18.1
Duster 360             14.3
Merc 240D              24.4
Merc 230               22.8
Merc 280               19.2
Merc 280C              17.8
Merc 450SE             16.4
Merc 450SL             17.3
Merc 450SLC            15.2
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Chrysler Imperial      14.7
Fiat 128               32.4
Honda Civic            30.4
Toyota Corolla         33.9
Toyota Corona          21.5
Dodge Challenger       15.5
AMC Javelin            15.2
Camaro Z28             13.3
Pontiac Firebird       19.2
Fiat X1-9              27.3
Porsche 914-2          26.0
Lotus Europa           30.4
Ford Pantera L         15.8
Ferrari Dino           19.7
Maserati Bora          15.0
Volvo 142E             21.4
Name: mpg, dtype: float64

In [3445]:
cars7.get(12)

17.3

In [3446]:
cars7.get("Merc 450SL") #we can see both above and below valueand see .get gets us that index value

17.3

In [3447]:
cars7.get([4,5,7]) #getting multiple values from .get() function

Hornet Sportabout    18.7
Valiant              18.1
Merc 240D            24.4
Name: mpg, dtype: float64

In [3448]:
cars7.get(["Hornet Sportabout","Valiant","Merc 240D"])  #we can see both above and below valueand see .get gets us that index value

Hornet Sportabout    18.7
Valiant              18.1
Merc 240D            24.4
Name: mpg, dtype: float64

In [3449]:
cars7.get(key=[4,5,7]) #getting multiple values from .get() function

Hornet Sportabout    18.7
Valiant              18.1
Merc 240D            24.4
Name: mpg, dtype: float64

In [3450]:
cars7.get(key=["Hornet Sportabout","Valiant","Merc 240D"])  #we can see both above and below valueand see .get gets us that index value

Hornet Sportabout    18.7
Valiant              18.1
Merc 240D            24.4
Name: mpg, dtype: float64

In [3451]:
cars7.get([4,5,47],default="not in series") #47 index not in series, output recived with warning

'not in series'

In [3452]:
cars7.count

<bound method Series.count of Mazda RX4              21.0
Mazda RX4 Wag          21.0
Datsun 710             22.8
Hornet 4 Drive         21.4
Hornet Sportabout      18.7
Valiant                18.1
Duster 360             14.3
Merc 240D              24.4
Merc 230               22.8
Merc 280               19.2
Merc 280C              17.8
Merc 450SE             16.4
Merc 450SL             17.3
Merc 450SLC            15.2
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Chrysler Imperial      14.7
Fiat 128               32.4
Honda Civic            30.4
Toyota Corolla         33.9
Toyota Corona          21.5
Dodge Challenger       15.5
AMC Javelin            15.2
Camaro Z28             13.3
Pontiac Firebird       19.2
Fiat X1-9              27.3
Porsche 914-2          26.0
Lotus Europa           30.4
Ford Pantera L         15.8
Ferrari Dino           19.7
Maserati Bora          15.0
Volvo 142E             21.4
Name: mpg, dtype: float64>

In [3453]:
cars7.count() # returns no.of rows

32

In [3454]:
cars

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3455]:
cars7.count() # returns no.of rows

32

In [3456]:
len(cars)

32

In [3457]:
len(cars7)

32

In [3458]:
cars7.min()

10.4

In [3459]:
cars7.max()

33.9

In [3460]:
cars7.sum()

642.9000000000001

In [3461]:
cars7.product()

1.2642405538841988e+41

In [3462]:
cars7.mean()

20.090625000000003

In [3463]:
cars7.median()

19.2

In [3464]:
cars7.mode()

0    10.4
1    15.2
2    19.2
3    21.0
4    21.4
5    22.8
6    30.4
dtype: float64

In [3465]:
cars7.std()

6.026948052089104

In [3466]:
carh=cars7.head()

In [3467]:
carh

Mazda RX4            21.0
Mazda RX4 Wag        21.0
Datsun 710           22.8
Hornet 4 Drive       21.4
Hornet Sportabout    18.7
Name: mpg, dtype: float64

In [3468]:
# some methods missing, refer python vol2 copy


cars

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3469]:
type(cars) #cars dataframw

pandas.core.frame.DataFrame

In [3470]:
cars.sum

<bound method DataFrame.sum of              Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2  >

In [3471]:
cars.sum()

Unnamed: 0    Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...
mpg                                                       642.9
cyl                                                         198
disp                                                     7383.1
hp                                                         4694
drat                                                     115.09
wt                                                      102.952
qsec                                                     571.16
vs                                                           14
am                                                           13
gear                                                        118
carb                                                         90
dtype: object

In [3472]:
cars.sum(axis=0) #default axis=0, for column wise addition

Unnamed: 0    Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...
mpg                                                       642.9
cyl                                                         198
disp                                                     7383.1
hp                                                         4694
drat                                                     115.09
wt                                                      102.952
qsec                                                     571.16
vs                                                           14
am                                                           13
gear                                                        118
carb                                                         90
dtype: object

In [3473]:
cars.sum(axis=1) # axis=1, for row wise addition

0     328.980
1     329.795
2     259.580
3     426.135
4     590.310
5     385.540
6     656.920
7     270.980
8     299.570
9     350.460
10    349.660
11    510.740
12    511.500
13    509.850
14    728.560
15    726.644
16    725.695
17    213.850
18    195.165
19    206.955
20    273.775
21    519.650
22    506.085
23    646.280
24    631.175
25    208.215
26    272.570
27    273.683
28    670.690
29    379.590
30    694.710
31    288.890
dtype: float64

In [3474]:
cars.sum(axis="index") # axis="index" is same as axis=0, for column wise addition

Unnamed: 0    Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...
mpg                                                       642.9
cyl                                                         198
disp                                                     7383.1
hp                                                         4694
drat                                                     115.09
wt                                                      102.952
qsec                                                     571.16
vs                                                           14
am                                                           13
gear                                                        118
carb                                                         90
dtype: object

In [3475]:
cars.sum(axis="columns") # why it is doing row wise addition research further

0     328.980
1     329.795
2     259.580
3     426.135
4     590.310
5     385.540
6     656.920
7     270.980
8     299.570
9     350.460
10    349.660
11    510.740
12    511.500
13    509.850
14    728.560
15    726.644
16    725.695
17    213.850
18    195.165
19    206.955
20    273.775
21    519.650
22    506.085
23    646.280
24    631.175
25    208.215
26    272.570
27    273.683
28    670.690
29    379.590
30    694.710
31    288.890
dtype: float64

In [3476]:
cars.hp #to access hp column directly

0     110
1     110
2      93
3     110
4     175
5     105
6     245
7      62
8      95
9     123
10    123
11    180
12    180
13    180
14    205
15    215
16    230
17     66
18     52
19     65
20     97
21    150
22    150
23    245
24    175
25     66
26     91
27    113
28    264
29    175
30    335
31    109
Name: hp, dtype: int64

In [3477]:
cars.cyl # access cyl column directly

0     6
1     6
2     4
3     6
4     8
5     6
6     8
7     4
8     4
9     6
10    6
11    8
12    8
13    8
14    8
15    8
16    8
17    4
18    4
19    4
20    4
21    8
22    8
23    8
24    8
25    4
26    4
27    4
28    8
29    6
30    8
31    4
Name: cyl, dtype: int64

In [3478]:
cars.hp.head()

0    110
1    110
2     93
3    110
4    175
Name: hp, dtype: int64

In [3479]:
type(cars.hp)

pandas.core.series.Series

In [3480]:
cars[["hp","cyl"]] # multiple columns accessed

     hp  cyl
0   110    6
1   110    6
2    93    4
3   110    6
4   175    8
5   105    6
6   245    8
7    62    4
8    95    4
9   123    6
10  123    6
11  180    8
12  180    8
13  180    8
14  205    8
15  215    8
16  230    8
17   66    4
18   52    4
19   65    4
20   97    4
21  150    8
22  150    8
23  245    8
24  175    8
25   66    4
26   91    4
27  113    4
28  264    8
29  175    6
30  335    8
31  109    4

In [3481]:
cars[["hp","cyl"]].head() # multiple columns accessed

    hp  cyl
0  110    6
1  110    6
2   93    4
3  110    6
4  175    8

In [3482]:
carx=cars
carx

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3483]:
carx["asd"]=5 #asd column added with all values 5
carx

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,asd
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,5
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,5
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,5
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,5
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,5
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,5
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,5
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,5
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,5
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,5
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,5
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,5
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,5
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,5
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,5
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,5
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,5
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,5
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,5
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,5
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,5
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,5
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,5
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,5
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,5
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,5
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,5
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,5
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,5
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,5
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,5
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,5

In [3484]:
carx["asd"]=carx["hp"] #hp column copied to newly formed asd column
carx

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,asd
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,110
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,110
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,93
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,110
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,175
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,105
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,245
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,62
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,95
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,123
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,123
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,180
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,180
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,180
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,205
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,215
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,230
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,66
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,52
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,65
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,97
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,150
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,150
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,245
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,175
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,66
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,91
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,113
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,264
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,175
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,335
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,109

In [3485]:
#ADD A NEW COLUMN AT SPECIFIED LOCATION
carx.insert(3,column="new column1", value="new column value") #new column added in 3rd column index with new column name and value
carx

,Unnamed: 0,mpg,cyl,new column1,disp,hp,drat,wt,qsec,vs,am,gear,carb,asd
0,Mazda RX4,21.0,6,new column value,160.0,110,3.90,2.620,16.46,0,1,4,4,110
1,Mazda RX4 Wag,21.0,6,new column value,160.0,110,3.90,2.875,17.02,0,1,4,4,110
2,Datsun 710,22.8,4,new column value,108.0,93,3.85,2.320,18.61,1,1,4,1,93
3,Hornet 4 Drive,21.4,6,new column value,258.0,110,3.08,3.215,19.44,1,0,3,1,110
4,Hornet Sportabout,18.7,8,new column value,360.0,175,3.15,3.440,17.02,0,0,3,2,175
5,Valiant,18.1,6,new column value,225.0,105,2.76,3.460,20.22,1,0,3,1,105
6,Duster 360,14.3,8,new column value,360.0,245,3.21,3.570,15.84,0,0,3,4,245
7,Merc 240D,24.4,4,new column value,146.7,62,3.69,3.190,20.00,1,0,4,2,62
8,Merc 230,22.8,4,new column value,140.8,95,3.92,3.150,22.90,1,0,4,2,95
9,Merc 280,19.2,6,new column value,167.6,123,3.92,3.440,18.30,1,0,4,4,123
10,Merc 280C,17.8,6,new column value,167.6,123,3.92,3.440,18.90,1,0,4,4,123
11,Merc 450SE,16.4,8,new column value,275.8,180,3.07,4.070,17.40,0,0,3,3,180
12,Merc 450SL,17.3,8,new column value,275.8,180,3.07,3.730,17.60,0,0,3,3,180
13,Merc 450SLC,15.2,8,new column value,275.8,180,3.07,3.780,18.00,0,0,3,3,180
14,Cadillac Fleetwood,10.4,8,new column value,472.0,205,2.93,5.250,17.98,0,0,3,4,205
15,Lincoln Continental,10.4,8,new column value,460.0,215,3.00,5.424,17.82,0,0,3,4,215
16,Chrysler Imperial,14.7,8,new column value,440.0,230,3.23,5.345,17.42,0,0,3,4,230
17,Fiat 128,32.4,4,new column value,78.7,66,4.08,2.200,19.47,1,1,4,1,66
18,Honda Civic,30.4,4,new column value,75.7,52,4.93,1.615,18.52,1,1,4,2,52
19,Toyota Corolla,33.9,4,new column value,71.1,65,4.22,1.835,19.90,1,1,4,1,65
20,Toyota Corona,21.5,4,new column value,120.1,97,3.70,2.465,20.01,1,0,3,1,97
21,Dodge Challenger,15.5,8,new column value,318.0,150,2.76,3.520,16.87,0,0,3,2,150
22,AMC Javelin,15.2,8,new column value,304.0,150,3.15,3.435,17.30,0,0,3,2,150
23,Camaro Z28,13.3,8,new column value,350.0,245,3.73,3.840,15.41,0,0,3,4,245
24,Pontiac Firebird,19.2,8,new column value,400.0,175,3.08,3.845,17.05,0,0,3,2,175
25,Fiat X1-9,27.3,4,new column value,79.0,66,4.08,1.935,18.90,1,1,4,1,66
26,Porsche 914-2,26.0,4,new column value,120.3,91,4.43,2.140,16.70,0,1,5,2,91
27,Lotus Europa,30.4,4,new column value,95.1,113,3.77,1.513,16.90,1,1,5,2,113
28,Ford Pantera L,15.8,8,new column value,351.0,264,4.22,3.170,14.50,0,1,5,4,264
29,Ferrari Dino,19.7,6,new column value,145.0,175,3.62,2.770,15.50,0,1,5,6,175
30,Maserati Bora,15.0,8,new column value,301.0,335,3.54,3.570,14.60,0,1,5,8,335
31,Volvo 142E,21.4,4,new column value,121.0,109,4.11,2.780,18.60,1,1,4,2,109

In [3486]:
carx

,Unnamed: 0,mpg,cyl,new column1,disp,hp,drat,wt,qsec,vs,am,gear,carb,asd
0,Mazda RX4,21.0,6,new column value,160.0,110,3.90,2.620,16.46,0,1,4,4,110
1,Mazda RX4 Wag,21.0,6,new column value,160.0,110,3.90,2.875,17.02,0,1,4,4,110
2,Datsun 710,22.8,4,new column value,108.0,93,3.85,2.320,18.61,1,1,4,1,93
3,Hornet 4 Drive,21.4,6,new column value,258.0,110,3.08,3.215,19.44,1,0,3,1,110
4,Hornet Sportabout,18.7,8,new column value,360.0,175,3.15,3.440,17.02,0,0,3,2,175
5,Valiant,18.1,6,new column value,225.0,105,2.76,3.460,20.22,1,0,3,1,105
6,Duster 360,14.3,8,new column value,360.0,245,3.21,3.570,15.84,0,0,3,4,245
7,Merc 240D,24.4,4,new column value,146.7,62,3.69,3.190,20.00,1,0,4,2,62
8,Merc 230,22.8,4,new column value,140.8,95,3.92,3.150,22.90,1,0,4,2,95
9,Merc 280,19.2,6,new column value,167.6,123,3.92,3.440,18.30,1,0,4,4,123
10,Merc 280C,17.8,6,new column value,167.6,123,3.92,3.440,18.90,1,0,4,4,123
11,Merc 450SE,16.4,8,new column value,275.8,180,3.07,4.070,17.40,0,0,3,3,180
12,Merc 450SL,17.3,8,new column value,275.8,180,3.07,3.730,17.60,0,0,3,3,180
13,Merc 450SLC,15.2,8,new column value,275.8,180,3.07,3.780,18.00,0,0,3,3,180
14,Cadillac Fleetwood,10.4,8,new column value,472.0,205,2.93,5.250,17.98,0,0,3,4,205
15,Lincoln Continental,10.4,8,new column value,460.0,215,3.00,5.424,17.82,0,0,3,4,215
16,Chrysler Imperial,14.7,8,new column value,440.0,230,3.23,5.345,17.42,0,0,3,4,230
17,Fiat 128,32.4,4,new column value,78.7,66,4.08,2.200,19.47,1,1,4,1,66
18,Honda Civic,30.4,4,new column value,75.7,52,4.93,1.615,18.52,1,1,4,2,52
19,Toyota Corolla,33.9,4,new column value,71.1,65,4.22,1.835,19.90,1,1,4,1,65
20,Toyota Corona,21.5,4,new column value,120.1,97,3.70,2.465,20.01,1,0,3,1,97
21,Dodge Challenger,15.5,8,new column value,318.0,150,2.76,3.520,16.87,0,0,3,2,150
22,AMC Javelin,15.2,8,new column value,304.0,150,3.15,3.435,17.30,0,0,3,2,150
23,Camaro Z28,13.3,8,new column value,350.0,245,3.73,3.840,15.41,0,0,3,4,245
24,Pontiac Firebird,19.2,8,new column value,400.0,175,3.08,3.845,17.05,0,0,3,2,175
25,Fiat X1-9,27.3,4,new column value,79.0,66,4.08,1.935,18.90,1,1,4,1,66
26,Porsche 914-2,26.0,4,new column value,120.3,91,4.43,2.140,16.70,0,1,5,2,91
27,Lotus Europa,30.4,4,new column value,95.1,113,3.77,1.513,16.90,1,1,5,2,113
28,Ford Pantera L,15.8,8,new column value,351.0,264,4.22,3.170,14.50,0,1,5,4,264
29,Ferrari Dino,19.7,6,new column value,145.0,175,3.62,2.770,15.50,0,1,5,6,175
30,Maserati Bora,15.0,8,new column value,301.0,335,3.54,3.570,14.60,0,1,5,8,335
31,Volvo 142E,21.4,4,new column value,121.0,109,4.11,2.780,18.60,1,1,4,2,109

In [3487]:
#BROADCASTING OPRATIONS PERFORMED ON ALL VALUES OF SPECIFIED COLUMN

carx["am"]=carx["am"]+2
carx["am"]

0     3
1     3
2     3
3     2
4     2
5     2
6     2
7     2
8     2
9     2
10    2
11    2
12    2
13    2
14    2
15    2
16    2
17    3
18    3
19    3
20    2
21    2
22    2
23    2
24    2
25    3
26    3
27    3
28    3
29    3
30    3
31    3
Name: am, dtype: int64

In [3488]:
#BROADCASTING OPRATIONS PERFORMED ON ALL VALUES OF SPECIFIED COLUMN

carx["am"]=carx["am"]*2
carx["am"]

0     6
1     6
2     6
3     4
4     4
5     4
6     4
7     4
8     4
9     4
10    4
11    4
12    4
13    4
14    4
15    4
16    4
17    6
18    6
19    6
20    4
21    4
22    4
23    4
24    4
25    6
26    6
27    6
28    6
29    6
30    6
31    6
Name: am, dtype: int64

In [3489]:
#BROADCASTING OPRATIONS PERFORMED ON ALL VALUES OF SPECIFIED COLUMN

carx["am"]+2

0     8
1     8
2     8
3     6
4     6
5     6
6     6
7     6
8     6
9     6
10    6
11    6
12    6
13    6
14    6
15    6
16    6
17    8
18    8
19    8
20    6
21    6
22    6
23    6
24    6
25    8
26    8
27    8
28    8
29    8
30    8
31    8
Name: am, dtype: int64

In [3490]:
#BROADCASTING OPRATIONS PERFORMED ON ALL VALUES OF SPECIFIED COLUMN

carx["am"]-5

0     1
1     1
2     1
3    -1
4    -1
5    -1
6    -1
7    -1
8    -1
9    -1
10   -1
11   -1
12   -1
13   -1
14   -1
15   -1
16   -1
17    1
18    1
19    1
20   -1
21   -1
22   -1
23   -1
24   -1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
Name: am, dtype: int64

In [3491]:
#BROADCASTING OPRATIONS PERFORMED ON ALL VALUES OF SPECIFIED COLUMN

carx["am"]/2

0     3.0
1     3.0
2     3.0
3     2.0
4     2.0
5     2.0
6     2.0
7     2.0
8     2.0
9     2.0
10    2.0
11    2.0
12    2.0
13    2.0
14    2.0
15    2.0
16    2.0
17    3.0
18    3.0
19    3.0
20    2.0
21    2.0
22    2.0
23    2.0
24    2.0
25    3.0
26    3.0
27    3.0
28    3.0
29    3.0
30    3.0
31    3.0
Name: am, dtype: float64

In [3492]:
#BROADCASTING OPRATIONS PERFORMED ON ALL VALUES OF SPECIFIED COLUMN

carx["am"].add(4)

0     10
1     10
2     10
3      8
4      8
5      8
6      8
7      8
8      8
9      8
10     8
11     8
12     8
13     8
14     8
15     8
16     8
17    10
18    10
19    10
20     8
21     8
22     8
23     8
24     8
25    10
26    10
27    10
28    10
29    10
30    10
31    10
Name: am, dtype: int64

In [3493]:
#BROADCASTING OPRATIONS PERFORMED ON ALL VALUES OF SPECIFIED COLUMN

carx["am"].sub(5)

0     1
1     1
2     1
3    -1
4    -1
5    -1
6    -1
7    -1
8    -1
9    -1
10   -1
11   -1
12   -1
13   -1
14   -1
15   -1
16   -1
17    1
18    1
19    1
20   -1
21   -1
22   -1
23   -1
24   -1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
Name: am, dtype: int64

In [3494]:
#BROADCASTING OPRATIONS PERFORMED ON ALL VALUES OF SPECIFIED COLUMN

carx["am"].mul(3)

0     18
1     18
2     18
3     12
4     12
5     12
6     12
7     12
8     12
9     12
10    12
11    12
12    12
13    12
14    12
15    12
16    12
17    18
18    18
19    18
20    12
21    12
22    12
23    12
24    12
25    18
26    18
27    18
28    18
29    18
30    18
31    18
Name: am, dtype: int64

In [3495]:
carx=m.read_csv("F:\cars4.csv") #CARS4 HAS MANY NULL NAN VALUES
carx

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0
17,Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
19,Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3496]:
#SYNTAX dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
carx.dropna() #ALL NULL ROWS REMOVED

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3497]:
#SYNTAX dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
carx.dropna(how="any") #rows with REMOVED, HOW="any" default

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3498]:
#SYNTAX dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
carx.dropna(how="all") #only those rows whose all values are null will be REMOVED like line index 27, few null elements in any row but other elements non null will not be removed HOW="any" default

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0
17,Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
19,Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3499]:
#SYNTAX dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
carx.dropna(how="all",inplace=True) #only those rows whose all values are null will be REMOVED like line index 27, few null elements in any row but other elements non null will not be removed HOW="any" default
carx

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0
17,Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
19,Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3500]:
#SYNTAX dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
carx.dropna(how="any",inplace=True) #inplace replaces previous data of any dataset with new data
carx

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3501]:
carx.dropna(axis=1) #axis by default 0
carx

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3502]:
car1=m.read_csv("F:\cars4.csv")
car1.dropna(axis=1) # all oprations performed column wise at axis1, default axis0, since all column had atleast one null values so no data displayed

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

In [3503]:
car1.dropna(subset=["cyl"]) # remove all null rows from cyl column

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
16,Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0
17,Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
19,Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3504]:
''' syntax, fillna fills null data with user desired value
car1.fillna(                         fillna() method removesnull values
    value=None,                 BUT IT WILL GIVE ERROR IF WE DONT PASSS ANY ARGUMENTS
    method=None,
    axis=None,
    inplace=False,
    limit=None,
    downcast=None,
    **kwargs,
)'''
car1.fillna("filled data") #all null value replaced by "filled data"

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4
1,Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360,175,3.15,3.44,17.02,0,0,3,2
5,Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
6,Duster 360,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.19,20,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.15,22.9,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,0,0,3,3
12,Merc 450SL,filled data,filled data,275.8,180,3.07,3.73,17.6,0,0,3,3
13,Merc 450SLC,filled data,filled data,275.8,180,3.07,3.78,18,0,0,3,3
14,Cadillac Fleetwood,filled data,filled data,filled data,filled data,filled data,5.25,17.98,0,0,3,4
15,Lincoln Continental,filled data,filled data,filled data,filled data,filled data,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,filled data,filled data,filled data,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,filled data,filled data,filled data,filled data,filled data,filled data,filled data,4,1
18,Honda Civic,30.4,4,filled data,filled data,filled data,filled data,filled data,filled data,filled data,4,2
19,Toyota Corolla,33.9,4,filled data,filled data,filled data,filled data,filled data,filled data,filled data,4,1
20,Toyota Corona,21.5,4,120.1,97,3.7,filled data,filled data,filled data,filled data,filled data,filled data
21,Dodge Challenger,15.5,8,318,150,2.76,filled data,filled data,filled data,filled data,filled data,filled data
22,AMC Javelin,15.2,8,304,150,3.15,3.435,17.3,0,0,filled data,filled data
23,Camaro Z28,13.3,8,350,245,3.73,3.84,15.41,0,0,filled data,filled data
24,Pontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1
26,filled data,filled data,filled data,filled data,filled data,filled data,filled data,filled data,filled data,filled data,filled data,filled data
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6
30,Maserati Bora,15,8,301,335,3.54,3.57,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2

In [3505]:
car2=car1
car2

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0
17,Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
19,Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3506]:
car2.fillna("fill data",inplace=True) #inplace=true argument permanently changes data in variable

In [3507]:
car2 #inplace=true changed and filled data permanently

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4
1,Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360,175,3.15,3.44,17.02,0,0,3,2
5,Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
6,Duster 360,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.19,20,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.15,22.9,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,0,0,3,3
12,Merc 450SL,fill data,fill data,275.8,180,3.07,3.73,17.6,0,0,3,3
13,Merc 450SLC,fill data,fill data,275.8,180,3.07,3.78,18,0,0,3,3
14,Cadillac Fleetwood,fill data,fill data,fill data,fill data,fill data,5.25,17.98,0,0,3,4
15,Lincoln Continental,fill data,fill data,fill data,fill data,fill data,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,fill data,fill data,fill data,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,fill data,fill data,fill data,fill data,fill data,fill data,fill data,4,1
18,Honda Civic,30.4,4,fill data,fill data,fill data,fill data,fill data,fill data,fill data,4,2
19,Toyota Corolla,33.9,4,fill data,fill data,fill data,fill data,fill data,fill data,fill data,4,1
20,Toyota Corona,21.5,4,120.1,97,3.7,fill data,fill data,fill data,fill data,fill data,fill data
21,Dodge Challenger,15.5,8,318,150,2.76,fill data,fill data,fill data,fill data,fill data,fill data
22,AMC Javelin,15.2,8,304,150,3.15,3.435,17.3,0,0,fill data,fill data
23,Camaro Z28,13.3,8,350,245,3.73,3.84,15.41,0,0,fill data,fill data
24,Pontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1
26,fill data,fill data,fill data,fill data,fill data,fill data,fill data,fill data,fill data,fill data,fill data,fill data
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6
30,Maserati Bora,15,8,301,335,3.54,3.57,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2

In [3508]:
car3=m.read_csv("F:\cars4.csv")
car3

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0
17,Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
19,Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3509]:
car3["hp"]=car3.fillna("fill data")
car3

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,NaN,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,NaN,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,NaN,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,NaN,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
17,Fiat 128,32.4,4.0,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4.0,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
19,Toyota Corolla,33.9,4.0,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4.0,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
21,Dodge Challenger,15.5,8.0,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8.0,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
23,Camaro Z28,13.3,8.0,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
24,Pontiac Firebird,19.2,8.0,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,NaN,NaN,NaN,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Lotus Europa,30.4,4.0,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3510]:
car3["cyl"].fillna("fill data",inplace=True)

In [3511]:
car3 #car3 only cyl column nan data replaced (permanently by inplace) with "fill data", rest NAN

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3512]:
car3

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3513]:
'''
SYNTAX
 sort_values(
    by,
    axis=0,
    ascending=True,
    inplace=False,
    kind='quicksort',
    na_position='last',
) 
    '''
car3.sort_values("model") # sorted based on column "model"  alphabatically

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3514]:
car3.sort_values("mpg") # sorted based on column "cyl"  numarically
# mpg column NAN value at last

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3515]:
car3.sort_values("model", ascending=False) # sorted based on column decending order

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3516]:
car3.sort_values("model", ascending=False) #model column NAN value at last
#ALL SORTING NAN AT LAST FOR SORTING COLUMN BCOZ NAN NULL VALUE CAN NOT BE SORTED
#alzebric and numeric column cant be sorted togather, if done so than error like cyl column

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3517]:
car3.sort_values("model", ascending=False) #model column NAN value at last
#ALL SORTING NAN AT LAST FOR SORTING COLUMN BCOZ NAN NULL VALUE CAN NOT BE SORTED
#alzebric and numeric column cant be sorted togather, if done so than error like cyl column

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3518]:
#ALL SORTING NAN AT LAST FOR SORTING COLUMN BCOZ NAN NULL VALUE CAN NOT BE SORTED
#alzebric and numeric column cant be sorted togather, if done so than error like cyl column

In [3519]:
car3.sort_values("model", ascending=False)
#ALL SORTING NAN AT LAST FOR SORTING COLUMN BCOZ NAN NULL VALUE CAN NOT BE SORTED
#alzebric and numeric column cant be sorted togather, if done so than error like cyl column

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3520]:
'''car3.sort_values(
    by,
    axis=0,             SYNTAX
    ascending=True,
    inplace=False,
    kind='quicksort',
    na_position='last', NA_POSITION BY DEFAULT LAST
)'''
car3.sort_values("mpg", ascending=False, na_position='last') #NAN AT first FOR SORTING COLUMN BCOZ NAN NULL VALUE CAN NOT BE SORTED

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3521]:
'''car3.sort_values(
    by,
    axis=0,             SYNTAX
    ascending=True,
    inplace=False,
    kind='quicksort',
    na_position='last', NA_POSITION BY DEFAULT LAST
)'''
car3.sort_values("mpg", ascending=False, na_position='first') #ALL SORTING NAN AT LAST FOR SORTING COLUMN BCOZ NAN NULL VALUE CAN NOT BE SORTED-

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN

In [3522]:
'''car3.sort_values(
    by,
    axis=0,             SYNTAX
    ascending=True,
    inplace=False,
    kind='quicksort',
    na_position='last', NA_POSITION BY DEFAULT LAST
)'''
car3.sort_values("mpg", ascending=False, na_position='first') #ALL SORTING NAN AT first FOR SORTING COLUMN BCOZ NA_position="first" after that value sorted

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN

In [3523]:
'''car3.sort_values(
    by,
    axis=0,             SYNTAX
    ascending=True,
    inplace=False,
    kind='quicksort',
    na_position='last', NA_POSITION BY DEFAULT LAST
)'''
car3.sort_values(["model","mpg"], ascending=False, na_position='first') #ALL SORTING NAN AT first FOR SORTING COLUMN BCOZ NA_position="first" after that value sorted
                   #multiple columns sorted togather

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN

In [3524]:
car3.sort_values(["model","cyl"], ascending=False, na_position='first')  #multiple columns sorted togather

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN

In [3525]:
car3.sort_values(["model","cyl","disp"], ascending=False, na_position='first')  #multiple columns sorted togather

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN

In [3526]:
car3.sort_values(["model","cyl","am",], ascending=[False,False,False], na_position='first')  #multiple columns sorted togather

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN

In [3527]:
car3.sort_values(["model","mpg"])  #multiple columns sorted togather
#FIRST MODEL DATA SORTED THAN MPG, MEANS FIRST COLUMN MODEL WILL BE SORTED THAN ONLYSUPPOSE IN "A" MODELS,ITS MPG WILL BE SORTED SO MPG ROW NOT ACTUALLY SORTED BUT SORTED ON BASIS OF AFTER MODEL SORTING

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3528]:
#na position will be same for all and changed for all togather
car3.sort_values(["model","cyl","disp"], ascending=False, na_position='first')  #multiple columns sorted togather, all column same ASCENDING/DECENDING PARAMETER FALSE

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN

In [3529]:
#na position will be same for all and changed for all togather,not like that of ascending
car3.sort_values(["model","cyl","disp"], ascending=[False,True,False], na_position='first')  #multiple columns sorted diffrently ascending=[,,] , all column diffrent ASCENDING/DECENDING PARAMETER FALSE

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN

In [3530]:
#na position will be same for all and changed for all togather,not like that of ascending
car3.sort_values(["model","cyl","disp"], ascending=[True,True,False], na_position='first')  #multiple columns sorted diffrently ascending=[,,] , all column diffrent ASCENDING/DECENDING PARAMETER FALSE

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3531]:
#na position will be same for all and changed for all togather,not like that of ascending
car3.sort_values(["model","cyl","disp"], ascending=[True,True,False], na_position='first',inplace=True)  #multiple columns sorted diffrently ascending=[,,] , all column diffrent ASCENDING/DECENDING PARAMETER FALSE
#INPLACE=TRUE data in those columns permanently changed
car3

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
26,NaN,NaN,fill data,NaN,fill data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8,304.0,AMC Javelin,3.15,3.435,17.30,0.0,0.0,NaN,NaN
14,Cadillac Fleetwood,NaN,fill data,NaN,Cadillac Fleetwood,NaN,5.250,17.98,0.0,0.0,3.0,4.0
23,Camaro Z28,13.3,8,350.0,Camaro Z28,3.73,3.840,15.41,0.0,0.0,NaN,NaN
16,Chrysler Imperial,14.7,8,NaN,Chrysler Imperial,NaN,5.345,17.42,0.0,0.0,3.0,4.0
2,Datsun 710,22.8,4,108.0,Datsun 710,3.85,2.320,18.61,1.0,1.0,4.0,1.0
21,Dodge Challenger,15.5,8,318.0,Dodge Challenger,2.76,NaN,NaN,NaN,NaN,NaN,NaN
6,Duster 360,14.3,8,360.0,Duster 360,3.21,3.570,15.84,0.0,0.0,3.0,4.0
29,Ferrari Dino,19.7,6,145.0,Ferrari Dino,3.62,2.770,15.50,0.0,1.0,5.0,6.0
17,Fiat 128,32.4,4,NaN,Fiat 128,NaN,NaN,NaN,NaN,NaN,4.0,1.0
25,Fiat X1-9,27.3,4,79.0,Fiat X1-9,4.08,1.935,18.90,1.0,1.0,4.0,1.0
28,Ford Pantera L,15.8,8,351.0,Ford Pantera L,4.22,3.170,14.50,0.0,1.0,5.0,4.0
18,Honda Civic,30.4,4,NaN,Honda Civic,NaN,NaN,NaN,NaN,NaN,4.0,2.0
3,Hornet 4 Drive,21.4,6,258.0,Hornet 4 Drive,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8,360.0,Hornet Sportabout,3.15,3.440,17.02,0.0,0.0,3.0,2.0
15,Lincoln Continental,NaN,fill data,NaN,Lincoln Continental,NaN,5.424,17.82,0.0,0.0,3.0,4.0
27,Lotus Europa,30.4,4,95.1,Lotus Europa,3.77,1.513,16.90,1.0,1.0,5.0,2.0
30,Maserati Bora,15.0,8,301.0,Maserati Bora,3.54,3.570,14.60,0.0,1.0,5.0,8.0
0,Mazda RX4,21.0,6,160.0,Mazda RX4,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6,160.0,Mazda RX4 Wag,3.90,2.875,17.02,0.0,1.0,4.0,4.0
8,Merc 230,22.8,4,140.8,Merc 230,3.92,3.150,22.90,1.0,0.0,4.0,2.0
7,Merc 240D,24.4,4,146.7,Merc 240D,3.69,3.190,20.00,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6,167.6,Merc 280,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6,167.6,Merc 280C,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8,275.8,Merc 450SE,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,fill data,275.8,Merc 450SL,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,fill data,275.8,Merc 450SLC,3.07,3.780,18.00,0.0,0.0,3.0,3.0
24,Pontiac Firebird,19.2,8,400.0,Pontiac Firebird,3.08,3.845,17.05,0.0,0.0,3.0,2.0
19,Toyota Corolla,33.9,4,NaN,Toyota Corolla,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4,120.1,Toyota Corona,3.70,NaN,NaN,NaN,NaN,NaN,NaN
5,Valiant,18.1,6,225.0,Valiant,2.76,3.460,20.22,1.0,0.0,3.0,1.0
31,Volvo 142E,21.4,4,121.0,Volvo 142E,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3532]:
cars=m.read_csv("F:\cars4.csv")
carx=cars

In [3533]:
carx.dropna(how="any",inplace=True) #nan null values rows dropped
carx #no more null value

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3534]:
carx #any nan row dropped and data saved inplace=true

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3535]:
cars=m.read_csv("F:\cars4.csv")
carx=cars
carx

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0
17,Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
19,Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3536]:
carx["mpg"]=carx["mpg"].fillna(0).astype(int) #filled all nan null values with 0 
#ASTYPE(INT) FUNCTION CONVERTED THE DATA TO DESIRED DATATYPE
carx.mpg

0     21
1     21
2     22
3     21
4     18
5     18
6     14
7     24
8     22
9     19
10    17
11    16
12     0
13     0
14     0
15     0
16    14
17    32
18    30
19    33
20    21
21    15
22    15
23    13
24    19
25    27
26     0
27    30
28    15
29    19
30    15
31    21
Name: mpg, dtype: int32

In [3537]:
'''
RANK SYNTAX
.rank(
    axis=0,
    method='average',
    numeric_only=None,
    na_option='keep',
    ascending=True,
    pct=False,
)
'''
carx.mpg.rank() #RANK METHOD GIVES RANKING TO DESIRED DATA SET IN ASCENDING METHOD BY DEFAULT on basis of car milage

0     22.0
1     22.0
2     25.5
3     22.0
4     15.5
5     15.5
6      7.5
7     27.0
8     25.5
9     18.0
10    14.0
11    13.0
12     3.0
13     3.0
14     3.0
15     3.0
16     7.5
17    31.0
18    29.5
19    32.0
20    22.0
21    10.5
22    10.5
23     6.0
24    18.0
25    28.0
26     3.0
27    29.5
28    10.5
29    18.0
30    10.5
31    22.0
Name: mpg, dtype: float64

In [3538]:
carx.mpg.rank(ascending=False) #RANKING in descending order on basis of car milage
# BUT STILL WE AE GETTING DATA IN FLOAT DATATYPE
# .ASTYPE() FUNCTION CONVERTS TO DESIRED DATATYPE

0     11.0
1     11.0
2      7.5
3     11.0
4     17.5
5     17.5
6     25.5
7      6.0
8      7.5
9     15.0
10    19.0
11    20.0
12    30.0
13    30.0
14    30.0
15    30.0
16    25.5
17     2.0
18     3.5
19     1.0
20    11.0
21    22.5
22    22.5
23    27.0
24    15.0
25     5.0
26    30.0
27     3.5
28    22.5
29    15.0
30    22.5
31    11.0
Name: mpg, dtype: float64

In [3539]:
# .ASTYPE() FUNCTION CONVERTS TO DESIRED DATATYPE
carx.mpg.rank(ascending=False).astype(int) #ranked data converted to int type

0     11
1     11
2      7
3     11
4     17
5     17
6     25
7      6
8      7
9     15
10    19
11    20
12    30
13    30
14    30
15    30
16    25
17     2
18     3
19     1
20    11
21    22
22    22
23    27
24    15
25     5
26    30
27     3
28    22
29    15
30    22
31    11
Name: mpg, dtype: int32

In [3540]:
carx["milage ranking"]=carx.mpg.rank(ascending=False).astype(int)
carx.sort_values("milage ranking") #data appended to previous dataset now the cars dataset 
#also it has ranking of cars in ascending order by .sort_values function

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,milage ranking
19,Toyota Corolla,33,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1
17,Fiat 128,32,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,2
27,Lotus Europa,30,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0,3
18,Honda Civic,30,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,3
25,Fiat X1-9,27,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0,5
7,Merc 240D,24,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0,6
2,Datsun 710,22,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,7
8,Merc 230,22,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0,7
0,Mazda RX4,21,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0,11
20,Toyota Corona,21,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN,11
31,Volvo 142E,21,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0,11
1,Mazda RX4 Wag,21,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0,11
3,Hornet 4 Drive,21,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0,11
29,Ferrari Dino,19,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0,15
24,Pontiac Firebird,19,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0,15
9,Merc 280,19,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0,15
5,Valiant,18,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0,17
4,Hornet Sportabout,18,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0,17
10,Merc 280C,17,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0,19
11,Merc 450SE,16,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0,20
28,Ford Pantera L,15,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0,22
22,AMC Javelin,15,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN,22
21,Dodge Challenger,15,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN,22
30,Maserati Bora,15,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0,22
16,Chrysler Imperial,14,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0,25
6,Duster 360,14,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0,25
23,Camaro Z28,13,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN,27
26,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30
14,Cadillac Fleetwood,0,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0,30
13,Merc 450SLC,0,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0,30
12,Merc 450SL,0,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0,30
15,Lincoln Continental,0,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0,30

In [3541]:
carx["milage ranking"]=carx.mpg.rank(ascending=False).astype(int)
carx.sort_values("milage ranking",ascending=False) #data appended to previous dataset now the cars dataset 
#also it has ranking of cars in decending order by .sort_values function

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,milage ranking
12,Merc 450SL,0,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0,30
15,Lincoln Continental,0,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0,30
14,Cadillac Fleetwood,0,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0,30
13,Merc 450SLC,0,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0,30
26,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30
23,Camaro Z28,13,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN,27
16,Chrysler Imperial,14,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0,25
6,Duster 360,14,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0,25
22,AMC Javelin,15,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN,22
21,Dodge Challenger,15,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN,22
28,Ford Pantera L,15,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0,22
30,Maserati Bora,15,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0,22
11,Merc 450SE,16,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0,20
10,Merc 280C,17,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0,19
5,Valiant,18,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0,17
4,Hornet Sportabout,18,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0,17
9,Merc 280,19,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0,15
24,Pontiac Firebird,19,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0,15
29,Ferrari Dino,19,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0,15
20,Toyota Corona,21,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN,11
0,Mazda RX4,21,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0,11
1,Mazda RX4 Wag,21,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0,11
3,Hornet 4 Drive,21,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0,11
31,Volvo 142E,21,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0,11
8,Merc 230,22,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0,7
2,Datsun 710,22,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,7
7,Merc 240D,24,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0,6
25,Fiat X1-9,27,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0,5
18,Honda Civic,30,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,3
27,Lotus Europa,30,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0,3
17,Fiat 128,32,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,2
19,Toyota Corolla,33,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1

In [3542]:
#FILTERING DATATYPES

#if not correct datatype than memory is wasted
carx=m.read_csv("F:\cars4.csv")
carx.info()    #NOW LOOK AT ALL THE DATA TYPES OF EACH COLUMN, ALL FLOAT BUT MODEL IS OBJECT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
model    31 non-null object
mpg      27 non-null float64
cyl      27 non-null float64
disp     25 non-null float64
hp       25 non-null float64
drat     25 non-null float64
wt       26 non-null float64
qsec     26 non-null float64
vs       26 non-null float64
am       26 non-null float64
gear     27 non-null float64
carb     27 non-null float64
dtypes: float64(11), object(1)
memory usage: 3.1+ KB

In [3543]:
#FILTERING DATATYPES

#if not correct datatype than memory is wasted
cary=m.read_csv("F:\cars.csv")
cary.info()    #NOW LOOK AT ALL THE DATA TYPES OF EACH COLUMN, COLOR, TRANSMISSON AND MODELS ARE OBJECT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 6 columns):
year            27 non-null int64
model           27 non-null object
price           27 non-null int64
mileage         27 non-null int64
color           27 non-null object
transmission    27 non-null object
dtypes: int64(3), object(3)
memory usage: 1.4+ KB

In [3544]:
'''
TO_DATETIME() SYNTAX
m.to_datetime(
    arg,
    errors='raise',
    dayfirst=False,
    yearfirst=False,
    utc=None,
    box=True,
    format=None,
    exact=True,
    unit=None,
    infer_datetime_format=False,
    origin='unix',
    cache=True,
)
'''
m.to_datetime(carx.qsec) #converted to date time format

0    1970-01-01 00:00:00.000000016
1    1970-01-01 00:00:00.000000017
2    1970-01-01 00:00:00.000000018
3    1970-01-01 00:00:00.000000019
4    1970-01-01 00:00:00.000000017
5    1970-01-01 00:00:00.000000020
6    1970-01-01 00:00:00.000000015
7    1970-01-01 00:00:00.000000020
8    1970-01-01 00:00:00.000000022
9    1970-01-01 00:00:00.000000018
10   1970-01-01 00:00:00.000000018
11   1970-01-01 00:00:00.000000017
12   1970-01-01 00:00:00.000000017
13   1970-01-01 00:00:00.000000018
14   1970-01-01 00:00:00.000000017
15   1970-01-01 00:00:00.000000017
16   1970-01-01 00:00:00.000000017
17                             NaT
18                             NaT
19                             NaT
20                             NaT
21                             NaT
22   1970-01-01 00:00:00.000000017
23   1970-01-01 00:00:00.000000015
24   1970-01-01 00:00:00.000000017
25   1970-01-01 00:00:00.000000018
26                             NaT
27   1970-01-01 00:00:00.000000016
28   1970-01-01 00:00:00.000000014
29   1970-01-01 00:00:00.000000015
30   1970-01-01 00:00:00.000000014
31   1970-01-01 00:00:00.000000018
Name: qsec, dtype: datetime64[ns]

In [3545]:
carx["date time column"]=m.to_datetime(carx["qsec"]) #converted to date time format and saved to carx dataframe
carx #NAN ROWS OF QSEC COLUMN GIVES NAT FOR DATE TIME CONVERSION

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,date time column
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0,1970-01-01 00:00:00.000000016
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0,1970-01-01 00:00:00.000000017
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,1970-01-01 00:00:00.000000018
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0,1970-01-01 00:00:00.000000019
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0,1970-01-01 00:00:00.000000017
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0,1970-01-01 00:00:00.000000020
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0,1970-01-01 00:00:00.000000015
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0,1970-01-01 00:00:00.000000020
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0,1970-01-01 00:00:00.000000022
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0,1970-01-01 00:00:00.000000018
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0,1970-01-01 00:00:00.000000018
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0,1970-01-01 00:00:00.000000017
12,Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0,1970-01-01 00:00:00.000000017
13,Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0,1970-01-01 00:00:00.000000018
14,Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0,1970-01-01 00:00:00.000000017
15,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0,1970-01-01 00:00:00.000000017
16,Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0,1970-01-01 00:00:00.000000017
17,Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,NaT
18,Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,NaT
19,Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,NaT
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN,NaT
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN,NaT
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN,1970-01-01 00:00:00.000000017
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN,1970-01-01 00:00:00.000000015
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0,1970-01-01 00:00:00.000000017
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0,1970-01-01 00:00:00.000000018
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0,1970-01-01 00:00:00.000000016
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0,1970-01-01 00:00:00.000000014
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0,1970-01-01 00:00:00.000000015
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0,1970-01-01 00:00:00.000000014
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0,1970-01-01 00:00:00.000000018

In [3546]:
carx["date time column"]=m.to_datetime(carx["mpg"]) #converted to date time format and saved to carx dataframe
carx #NAN ROWS OF QSEC COLUMN GIVES NAT FOR DATE TIME CONVERSION

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,date time column
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0,1970-01-01 00:00:00.000000021
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0,1970-01-01 00:00:00.000000021
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,1970-01-01 00:00:00.000000022
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0,1970-01-01 00:00:00.000000021
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0,1970-01-01 00:00:00.000000018
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0,1970-01-01 00:00:00.000000018
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0,1970-01-01 00:00:00.000000014
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0,1970-01-01 00:00:00.000000024
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0,1970-01-01 00:00:00.000000022
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0,1970-01-01 00:00:00.000000019
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0,1970-01-01 00:00:00.000000017
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0,1970-01-01 00:00:00.000000016
12,Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0,NaT
13,Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0,NaT
14,Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0,NaT
15,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0,NaT
16,Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0,1970-01-01 00:00:00.000000014
17,Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1970-01-01 00:00:00.000000032
18,Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,1970-01-01 00:00:00.000000030
19,Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1970-01-01 00:00:00.000000033
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN,1970-01-01 00:00:00.000000021
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN,1970-01-01 00:00:00.000000015
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN,1970-01-01 00:00:00.000000015
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN,1970-01-01 00:00:00.000000013
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0,1970-01-01 00:00:00.000000019
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0,1970-01-01 00:00:00.000000027
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0,1970-01-01 00:00:00.000000030
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0,1970-01-01 00:00:00.000000015
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0,1970-01-01 00:00:00.000000019
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0,1970-01-01 00:00:00.000000015
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0,1970-01-01 00:00:00.000000021

In [3547]:
carx["date time column"]=m.to_datetime(carx["mpg"]) #converted to date time format and saved to carx dataframe
#NAN ROWS OF QSEC COLUMN GIVES NAT FOR DATE TIME CONVERSION
carx

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,date time column
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0,1970-01-01 00:00:00.000000021
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0,1970-01-01 00:00:00.000000021
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,1970-01-01 00:00:00.000000022
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0,1970-01-01 00:00:00.000000021
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0,1970-01-01 00:00:00.000000018
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0,1970-01-01 00:00:00.000000018
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0,1970-01-01 00:00:00.000000014
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0,1970-01-01 00:00:00.000000024
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0,1970-01-01 00:00:00.000000022
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0,1970-01-01 00:00:00.000000019
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0,1970-01-01 00:00:00.000000017
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0,1970-01-01 00:00:00.000000016
12,Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0,NaT
13,Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0,NaT
14,Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0,NaT
15,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0,NaT
16,Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0,1970-01-01 00:00:00.000000014
17,Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1970-01-01 00:00:00.000000032
18,Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,1970-01-01 00:00:00.000000030
19,Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1970-01-01 00:00:00.000000033
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN,1970-01-01 00:00:00.000000021
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN,1970-01-01 00:00:00.000000015
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN,1970-01-01 00:00:00.000000015
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN,1970-01-01 00:00:00.000000013
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0,1970-01-01 00:00:00.000000019
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0,1970-01-01 00:00:00.000000027
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0,1970-01-01 00:00:00.000000030
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0,1970-01-01 00:00:00.000000015
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0,1970-01-01 00:00:00.000000019
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0,1970-01-01 00:00:00.000000015
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0,1970-01-01 00:00:00.000000021

In [3548]:
'''
SYNTAX
.astype(dtype, copy=True, errors='raise', **kwargs)
DTYPE->
int,"bool",float,"category etc.
'''
#to integer 
cars.mpg.astype(int)

0     21
1     21
2     22
3     21
4     18
5     18
6     14
7     24
8     22
9     19
10    17
11    16
12     0
13     0
14     0
15     0
16    14
17    32
18    30
19    33
20    21
21    15
22    15
23    13
24    19
25    27
26     0
27    30
28    15
29    19
30    15
31    21
Name: mpg, dtype: int32

In [3549]:
cars.mpg.astype(bool) #bool for boolean

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12    False
13    False
14    False
15    False
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26    False
27     True
28     True
29     True
30     True
31     True
Name: mpg, dtype: bool

In [3550]:
cars.mpg.astype("category") #CATEGORY CATEGORISES THE COLUMN, LIKE MALE FEMALE RESEARCH FURTHER

0     21
1     21
2     22
3     21
4     18
5     18
6     14
7     24
8     22
9     19
10    17
11    16
12     0
13     0
14     0
15     0
16    14
17    32
18    30
19    33
20    21
21    15
22    15
23    13
24    19
25    27
26     0
27    30
28    15
29    19
30    15
31    21
Name: mpg, dtype: category
Categories (15, int64): [0, 13, 14, 15, ..., 27, 30, 32, 33]

In [3551]:
#another wayto do type casting without .astype function
car=m.read_csv("F:\cars4.csv",parse_dates=["qsec"])#parse_date will take data as list[] and will convert datatype to datetime format without astype() function
car #CHECK WHY NOT WORKING

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.9,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.3,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.9,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.4,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.6,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0
17,Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
19,Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.3,0.0,0.0,NaN,NaN
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.9,1.0,1.0,4.0,1.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.9,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.5,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.5,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.6,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.6,1.0,1.0,4.0,2.0

In [3552]:
#another wayto do type casting without .astype function
car=m.read_csv("F:\cars4.csv",parse_dates=["qsec","am"])#parse_date will take data as list[] and will convert datatype to datetime format without astype() function
car #CHECK WHY NOT WORKING

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20,1.0,0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.9,1.0,0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.3,1.0,0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.9,1.0,0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.4,0.0,0,3.0,3.0
12,Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.6,0.0,0,3.0,3.0
13,Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18,0.0,0,3.0,3.0
14,Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0,3.0,4.0
15,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0,3.0,4.0
17,Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
19,Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.3,0.0,0,NaN,NaN
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0,NaN,NaN
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.9,1.0,1,4.0,1.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.9,1.0,1,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.5,0.0,1,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.5,0.0,1,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.6,0.0,1,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.6,1.0,1,4.0,2.0

In [3553]:
#APPLYING CONDITIONS TO EXTRACT DATA
cars["cyl"]==4 #4 cylinder cars shown boolean output

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7      True
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18     True
19     True
20     True
21    False
22    False
23    False
24    False
25     True
26    False
27     True
28    False
29    False
30    False
31     True
Name: cyl, dtype: bool

In [3554]:
#APPLYING CONDITIONS TO EXTRACT DATA
cars[cars["cyl"]==4] #4 cylinder cars shown boolean output

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,milage ranking
2,Datsun 710,22,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,7
7,Merc 240D,24,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0,6
8,Merc 230,22,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0,7
17,Fiat 128,32,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,2
18,Honda Civic,30,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,3
19,Toyota Corolla,33,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1
20,Toyota Corona,21,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN,11
25,Fiat X1-9,27,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0,5
27,Lotus Europa,30,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0,3
31,Volvo 142E,21,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0,11

In [3555]:
#APPLYING CONDITIONS TO EXTRACT DATA
cars[cars["cyl"]>=6] #6 cylinder and more cars shown

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,milage ranking
0,Mazda RX4,21,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0,11
1,Mazda RX4 Wag,21,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0,11
3,Hornet 4 Drive,21,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0,11
4,Hornet Sportabout,18,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0,17
5,Valiant,18,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0,17
6,Duster 360,14,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0,25
9,Merc 280,19,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0,15
10,Merc 280C,17,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0,19
11,Merc 450SE,16,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0,20
16,Chrysler Imperial,14,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0,25
21,Dodge Challenger,15,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN,22
22,AMC Javelin,15,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN,22
23,Camaro Z28,13,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN,27
24,Pontiac Firebird,19,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0,15
28,Ford Pantera L,15,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0,22
29,Ferrari Dino,19,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0,15
30,Maserati Bora,15,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0,22

In [3556]:
#APPLYING CONDITIONS TO EXTRACT DATA
cars["cyl"]>=6 #6 cylinder and less cars shown boolean output

0      True
1      True
2     False
3      True
4      True
5      True
6      True
7     False
8     False
9      True
10     True
11     True
12    False
13    False
14    False
15    False
16     True
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24     True
25    False
26    False
27    False
28     True
29     True
30     True
31    False
Name: cyl, dtype: bool

In [3557]:
#APPLYING CONDITIONS TO EXTRACT DATA
cars[cars["cyl"]==6] #6 cylinder cars shown

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,milage ranking
0,Mazda RX4,21,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0,11
1,Mazda RX4 Wag,21,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0,11
3,Hornet 4 Drive,21,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0,11
5,Valiant,18,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0,17
9,Merc 280,19,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0,15
10,Merc 280C,17,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0,19
29,Ferrari Dino,19,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0,15

In [3558]:
#applying condition using a variable
mask=cars["cyl"]==6
cars[mask]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,milage ranking
0,Mazda RX4,21,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0,11
1,Mazda RX4 Wag,21,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0,11
3,Hornet 4 Drive,21,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0,11
5,Valiant,18,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0,17
9,Merc 280,19,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0,15
10,Merc 280C,17,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0,19
29,Ferrari Dino,19,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0,15

In [3559]:
mask1=cars["milage ranking"]<=10
cars[mask1] #top ten ranking cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,milage ranking
2,Datsun 710,22,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,7
7,Merc 240D,24,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0,6
8,Merc 230,22,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0,7
17,Fiat 128,32,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,2
18,Honda Civic,30,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,3
19,Toyota Corolla,33,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1
25,Fiat X1-9,27,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0,5
27,Lotus Europa,30,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0,3

In [3560]:
mask2=cars.cyl!=6 #! not = equalto
cars[mask2] #6 cyl cars not displayed

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,milage ranking
2,Datsun 710,22,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,7
4,Hornet Sportabout,18,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0,17
6,Duster 360,14,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0,25
7,Merc 240D,24,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0,6
8,Merc 230,22,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0,7
11,Merc 450SE,16,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0,20
12,Merc 450SL,0,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0,30
13,Merc 450SLC,0,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0,30
14,Cadillac Fleetwood,0,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0,30
15,Lincoln Continental,0,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0,30
16,Chrysler Imperial,14,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0,25
17,Fiat 128,32,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,2
18,Honda Civic,30,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,3
19,Toyota Corolla,33,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1
20,Toyota Corona,21,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN,11
21,Dodge Challenger,15,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN,22
22,AMC Javelin,15,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN,22
23,Camaro Z28,13,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN,27
24,Pontiac Firebird,19,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0,15
25,Fiat X1-9,27,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0,5
26,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30
27,Lotus Europa,30,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0,3
28,Ford Pantera L,15,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0,22
30,Maserati Bora,15,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0,22
31,Volvo 142E,21,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0,11

In [3561]:
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,milage ranking
0,Mazda RX4,21,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0,11
1,Mazda RX4 Wag,21,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0,11
2,Datsun 710,22,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,7
3,Hornet 4 Drive,21,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0,11
4,Hornet Sportabout,18,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0,17
5,Valiant,18,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0,17
6,Duster 360,14,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0,25
7,Merc 240D,24,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0,6
8,Merc 230,22,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0,7
9,Merc 280,19,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0,15
10,Merc 280C,17,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0,19
11,Merc 450SE,16,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0,20
12,Merc 450SL,0,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0,30
13,Merc 450SLC,0,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0,30
14,Cadillac Fleetwood,0,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0,30
15,Lincoln Continental,0,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0,30
16,Chrysler Imperial,14,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0,25
17,Fiat 128,32,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,2
18,Honda Civic,30,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,3
19,Toyota Corolla,33,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1
20,Toyota Corona,21,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN,11
21,Dodge Challenger,15,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN,22
22,AMC Javelin,15,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN,22
23,Camaro Z28,13,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN,27
24,Pontiac Firebird,19,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0,15
25,Fiat X1-9,27,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0,5
26,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30
27,Lotus Europa,30,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0,3
28,Ford Pantera L,15,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0,22
29,Ferrari Dino,19,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0,15
30,Maserati Bora,15,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0,22
31,Volvo 142E,21,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0,11

In [3562]:
#MULTIPLE CONDITIONS "&" AND GATE
mask1=cars.cyl!=6 #! not = equalto
mask2=cars.am==1
cars[mask1 & mask2] #both condition mask1 and mask 2 applied with "&" oprator for and gate

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,milage ranking
2,Datsun 710,22,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,7
25,Fiat X1-9,27,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0,5
27,Lotus Europa,30,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0,3
28,Ford Pantera L,15,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0,22
30,Maserati Bora,15,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0,22
31,Volvo 142E,21,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0,11

In [3563]:
#MULTIPLE CONDITIONS "|" OR GATE BELOW BACKSPACE BUTTON ABOVE ENTER
mask1=cars.cyl!=6 #! not = equalto
mask2=cars.am==1
cars[mask1 | mask2] #both condition mask1 and mask 2 applied with "|" oprator for OR gate

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,milage ranking
0,Mazda RX4,21,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0,11
1,Mazda RX4 Wag,21,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0,11
2,Datsun 710,22,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,7
4,Hornet Sportabout,18,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0,17
6,Duster 360,14,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0,25
7,Merc 240D,24,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0,6
8,Merc 230,22,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0,7
11,Merc 450SE,16,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0,20
12,Merc 450SL,0,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0,30
13,Merc 450SLC,0,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0,30
14,Cadillac Fleetwood,0,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0,30
15,Lincoln Continental,0,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0,30
16,Chrysler Imperial,14,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0,25
17,Fiat 128,32,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,2
18,Honda Civic,30,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,3
19,Toyota Corolla,33,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1
20,Toyota Corona,21,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN,11
21,Dodge Challenger,15,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN,22
22,AMC Javelin,15,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN,22
23,Camaro Z28,13,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN,27
24,Pontiac Firebird,19,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0,15
25,Fiat X1-9,27,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0,5
26,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30
27,Lotus Europa,30,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0,3
28,Ford Pantera L,15,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0,22
29,Ferrari Dino,19,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0,15
30,Maserati Bora,15,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0,22
31,Volvo 142E,21,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0,11

In [3564]:
cars=m.read_csv("F:\cars.csv")
cars

    year model  price  mileage   color transmission
0   2011   SEL  21992     7413  Yellow         AUTO
1   2011   SEL  20995    10926    Gray         AUTO
2   2011   SEL  19995     7351  Silver         AUTO
3   2011   SEL  17809    11613    Gray         AUTO
4   2012    SE  17500     8367   White         AUTO
5   2010   SEL  17495    25125  Silver         AUTO
6   2011   SEL  17000    27393    Blue         AUTO
7   2010   SEL  16995    21026  Silver         AUTO
8   2011   SES  16995    32655  Silver         AUTO
9   2010   SES  16995    36116  Silver         AUTO
10  2010   SES  16995    40539   Black         AUTO
11  2011   SES  16992     9199  Silver         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO
14  2011    SE  16000    15367   White         AUTO
15  2011   SES  15999    16368    Blue         AUTO
16  2010   SEL  15999    19926  Silver         AUTO
17  2010   SES  15995    36049  Silver         AUTO
18  2011   SEL  15992    11662    Blue         AUTO
19  2011   SEL  15992    32069  Silver         AUTO
20  2010   SES  15988    16035  Silver       MANUAL
21  2010   SEL  15980    39943   White         AUTO
22  2011    SE  15899    36685  Silver         AUTO
23  2010   SEL  15889    24920   Black         AUTO
24  2009   SEL  15688    20019    Blue         AUTO
25  2010    SE  15500    29338    Blue         AUTO
26  2010    SE  15499     7784   Black         AUTO

In [3565]:
# isin() method to make multiple comparison in single line
cars["color"].isin(["Silver","Blue"]) #blue or silver cars return true from comparison from color column

0     False
1     False
2      True
3     False
4     False
5      True
6      True
7      True
8      True
9      True
10    False
11     True
12    False
13    False
14    False
15     True
16     True
17     True
18     True
19     True
20     True
21    False
22     True
23    False
24     True
25     True
26    False
Name: color, dtype: bool

In [3566]:
# isin() method to make multiple comparison in single line
mask=cars["color"].isin(["Silver","Blue"]) #blue or silver cars return true from comparison from color column
cars[mask]

    year model  price  mileage   color transmission
2   2011   SEL  19995     7351  Silver         AUTO
5   2010   SEL  17495    25125  Silver         AUTO
6   2011   SEL  17000    27393    Blue         AUTO
7   2010   SEL  16995    21026  Silver         AUTO
8   2011   SES  16995    32655  Silver         AUTO
9   2010   SES  16995    36116  Silver         AUTO
11  2011   SES  16992     9199  Silver         AUTO
15  2011   SES  15999    16368    Blue         AUTO
16  2010   SEL  15999    19926  Silver         AUTO
17  2010   SES  15995    36049  Silver         AUTO
18  2011   SEL  15992    11662    Blue         AUTO
19  2011   SEL  15992    32069  Silver         AUTO
20  2010   SES  15988    16035  Silver       MANUAL
22  2011    SE  15899    36685  Silver         AUTO
24  2009   SEL  15688    20019    Blue         AUTO
25  2010    SE  15500    29338    Blue         AUTO

In [3567]:
# isin() method to make multiple comparison in single line
cars["year"].isin([2009,2010]) #2009 or 2010 cars return true from comparison from year column

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7      True
8     False
9      True
10     True
11    False
12    False
13     True
14    False
15    False
16     True
17     True
18    False
19    False
20     True
21     True
22    False
23     True
24     True
25     True
26     True
Name: year, dtype: bool

In [3568]:
# isin() method to make multiple comparison in single line
mask=cars["year"].isin([2009,2010]) #2009 or 2010 cars return true from comparison from year column
cars[mask]

    year model  price  mileage   color transmission
5   2010   SEL  17495    25125  Silver         AUTO
7   2010   SEL  16995    21026  Silver         AUTO
9   2010   SES  16995    36116  Silver         AUTO
10  2010   SES  16995    40539   Black         AUTO
13  2010   SES  16950    32058     Red         AUTO
16  2010   SEL  15999    19926  Silver         AUTO
17  2010   SES  15995    36049  Silver         AUTO
20  2010   SES  15988    16035  Silver       MANUAL
21  2010   SEL  15980    39943   White         AUTO
23  2010   SEL  15889    24920   Black         AUTO
24  2009   SEL  15688    20019    Blue         AUTO
25  2010    SE  15500    29338    Blue         AUTO
26  2010    SE  15499     7784   Black         AUTO

In [3569]:
# ISNULL() AND NOTNULL()

cars=m.read_csv("F:\cars4.csv")
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0
17,Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
19,Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3570]:
# ISNULL() AND NOTNULL()

cars["hp"].isnull()#ALL NULL DISPLAYED TRUE

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15     True
16     True
17     True
18     True
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27    False
28    False
29    False
30    False
31    False
Name: hp, dtype: bool

In [3571]:
# ISNULL() AND NOTNULL()

mask=cars["hp"].isnull()#ALL NULL DISPLAYED TRUE
cars[mask]   #all null hp displayed

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
14,Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0
16,Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0
17,Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
18,Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
19,Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3572]:
# ISNULL() AND NOTNULL()

mask=cars["mpg"].isnull()#ALL NULL DISPLAYED TRUE
cars[mask]   #all null mpg displayed

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
12,Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
14,Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0
15,Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3573]:
# ISNULL() AND NOTNULL()

cars["hp"].notnull()#ALL NON NULL DISPLAYED TRUE

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14    False
15    False
16    False
17    False
18    False
19    False
20     True
21     True
22     True
23     True
24     True
25     True
26    False
27     True
28     True
29     True
30     True
31     True
Name: hp, dtype: bool

In [3574]:
# ISNULL() AND NOTNULL()

mask=cars["hp"].notnull()#ALL NON NULL hp DISPLAYED 
cars[mask]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
6,Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
7,Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
8,Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
12,Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
13,Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
20,Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN
23,Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
25,Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3575]:
#between() methods
cars["mpg"].between(15,20) #true false output for range provided

0     False
1     False
2     False
3     False
4      True
5      True
6     False
7     False
8     False
9      True
10     True
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22     True
23    False
24     True
25    False
26    False
27    False
28     True
29     True
30     True
31    False
Name: mpg, dtype: bool

In [3576]:
#between() methods
mask=cars["mpg"].between(15,20) #true false output for range provided
cars[mask] #all cars displayed with mpg between 15 and 20 range

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
11,Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN
24,Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
28,Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
29,Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
30,Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0

In [3577]:
#between() methods
mask=cars["hp"].between(100,150) #true false output for range provided
cars[mask] #all cars displayed with hp between 100,150 range

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
5,Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
9,Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
10,Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
21,Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
22,AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN
27,Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
31,Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0

In [3578]:
'''
Relational Database Management System
A relational database management system is a database management system that is based on the relational model as invented by
E. F. Codd, of IBM's San Jose Research Laboratory. Many popular databases currently in use are based on the relational database 
model. RDBMSs have become a predominant choice for the storage of information in new databases used for financial records, 
manufacturing and logistical information, personnel data, and much more since the 1980s. Relational databases have often 
replaced legacy hierarchical databases and network databases because they are easier to understand and use. However, 
relational databases have been challenged by object databases, which were introduced in an attempt to address 
the object-relational impedance mismatch in relational database, and XML databases.
'''

"\nRelational Database Management System\nA relational database management system is a database management system that is based on the relational model as invented by\nE. F. Codd, of IBM's San Jose Research Laboratory. Many popular databases currently in use are based on the relational database \nmodel. RDBMSs have become a predominant choice for the storage of information in new databases used for financial records, \nmanufacturing and logistical information, personnel data, and much more since the 1980s. Relational databases have often \nreplaced legacy hierarchical databases and network databases because they are easier to understand and use. However, \nrelational databases have been challenged by object databases, which were introduced in an attempt to address \nthe object-relational impedance mismatch in relational database, and XML databases.\n"

In [3579]:
#DUPLICATED() FUNCTION
'''
.duplicated(subset=None, keep='first')
Docstring:
Return boolean Series denoting duplicate rows, optionally only
considering certain columns.
'''
cars=m.read_csv("F:\cars.csv")
cars.sort_values("color",inplace=True)
cars

    year model  price  mileage   color transmission
26  2010    SE  15499     7784   Black         AUTO
23  2010   SEL  15889    24920   Black         AUTO
10  2010   SES  16995    40539   Black         AUTO
24  2009   SEL  15688    20019    Blue         AUTO
18  2011   SEL  15992    11662    Blue         AUTO
6   2011   SEL  17000    27393    Blue         AUTO
15  2011   SES  15999    16368    Blue         AUTO
25  2010    SE  15500    29338    Blue         AUTO
1   2011   SEL  20995    10926    Gray         AUTO
3   2011   SEL  17809    11613    Gray         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO
9   2010   SES  16995    36116  Silver         AUTO
8   2011   SES  16995    32655  Silver         AUTO
7   2010   SEL  16995    21026  Silver         AUTO
16  2010   SEL  15999    19926  Silver         AUTO
17  2010   SES  15995    36049  Silver         AUTO
5   2010   SEL  17495    25125  Silver         AUTO
19  2011   SEL  15992    32069  Silver         AUTO
20  2010   SES  15988    16035  Silver       MANUAL
22  2011    SE  15899    36685  Silver         AUTO
2   2011   SEL  19995     7351  Silver         AUTO
11  2011   SES  16992     9199  Silver         AUTO
14  2011    SE  16000    15367   White         AUTO
21  2010   SEL  15980    39943   White         AUTO
4   2012    SE  17500     8367   White         AUTO
0   2011   SEL  21992     7413  Yellow         AUTO

In [3580]:
cars.color.duplicated() #.duplicated(subset=None, keep='first')
#first common value false then repeated same duplicated value true because keep argument= 'first by default'

26    False
23     True
10     True
24    False
18     True
6      True
15     True
25     True
1     False
3      True
12    False
13    False
9     False
8      True
7      True
16     True
17     True
5      True
19     True
20     True
22     True
2      True
11     True
14    False
21     True
4      True
0     False
Name: color, dtype: bool

In [3581]:
mask=cars.color.duplicated()==False #first common value false then repeated same duplicated value true
cars[mask] #now only indivisual color first cars of any specific colors printed, duplicate true values sorted out
#because argument keep='first' by default

    year model  price  mileage   color transmission
26  2010    SE  15499     7784   Black         AUTO
24  2009   SEL  15688    20019    Blue         AUTO
1   2011   SEL  20995    10926    Gray         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO
9   2010   SES  16995    36116  Silver         AUTO
14  2011    SE  16000    15367   White         AUTO
0   2011   SEL  21992     7413  Yellow         AUTO

In [3582]:
cars.color.duplicated(keep='last') #now only last value false for all same colors
#keep argument= 'last' is changed

26     True
23     True
10    False
24     True
18     True
6      True
15     True
25    False
1      True
3     False
12    False
13    False
9      True
8      True
7      True
16     True
17     True
5      True
19     True
20     True
22     True
2      True
11    False
14     True
21     True
4     False
0     False
Name: color, dtype: bool

In [3583]:
mask=mask=cars.color.duplicated(keep='last')==False #last common value false then repeated same duplicated value true before it
cars[mask] #now only indivisual color last cars of any specific colors printed, duplicate true values before it sorted out
#because argument keep='last' is changed

    year model  price  mileage   color transmission
10  2010   SES  16995    40539   Black         AUTO
25  2010    SE  15500    29338    Blue         AUTO
3   2011   SEL  17809    11613    Gray         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO
11  2011   SES  16992     9199  Silver         AUTO
4   2012    SE  17500     8367   White         AUTO
0   2011   SEL  21992     7413  Yellow         AUTO

In [3584]:
#let us append a new column to do boolean testing on keep=False argument
cars["new boolean column"]=mask=cars.color.duplicated()
cars #now a new column added to cars dataset

    year model  price  mileage   color transmission  new boolean column
26  2010    SE  15499     7784   Black         AUTO               False
23  2010   SEL  15889    24920   Black         AUTO                True
10  2010   SES  16995    40539   Black         AUTO                True
24  2009   SEL  15688    20019    Blue         AUTO               False
18  2011   SEL  15992    11662    Blue         AUTO                True
6   2011   SEL  17000    27393    Blue         AUTO                True
15  2011   SES  15999    16368    Blue         AUTO                True
25  2010    SE  15500    29338    Blue         AUTO                True
1   2011   SEL  20995    10926    Gray         AUTO               False
3   2011   SEL  17809    11613    Gray         AUTO                True
12  2011   SEL  16950     9388   Green         AUTO               False
13  2010   SES  16950    32058     Red         AUTO               False
9   2010   SES  16995    36116  Silver         AUTO               False
8   2011   SES  16995    32655  Silver         AUTO                True
7   2010   SEL  16995    21026  Silver         AUTO                True
16  2010   SEL  15999    19926  Silver         AUTO                True
17  2010   SES  15995    36049  Silver         AUTO                True
5   2010   SEL  17495    25125  Silver         AUTO                True
19  2011   SEL  15992    32069  Silver         AUTO                True
20  2010   SES  15988    16035  Silver       MANUAL                True
22  2011    SE  15899    36685  Silver         AUTO                True
2   2011   SEL  19995     7351  Silver         AUTO                True
11  2011   SES  16992     9199  Silver         AUTO                True
14  2011    SE  16000    15367   White         AUTO               False
21  2010   SEL  15980    39943   White         AUTO                True
4   2012    SE  17500     8367   White         AUTO                True
0   2011   SEL  21992     7413  Yellow         AUTO               False

In [3585]:
#now we cab perform boolean opration on this new column
#KEEP=FALSE WILL BE RETURNED ALL FALSE VALUE AS TRUE for that column, BCOZ KEEP = TRUE BY DEFAULT, SO WE GET ALL TRUE VALUES
cars["new boolean column"].duplicated(keep=False)

26    True
23    True
10    True
24    True
18    True
6     True
15    True
25    True
1     True
3     True
12    True
13    True
9     True
8     True
7     True
16    True
17    True
5     True
19    True
20    True
22    True
2     True
11    True
14    True
21    True
4     True
0     True
Name: new boolean column, dtype: bool

In [3586]:
mask=cars["new boolean column"].duplicated(keep=False)
cars[mask]

    year model  price  mileage   color transmission  new boolean column
26  2010    SE  15499     7784   Black         AUTO               False
23  2010   SEL  15889    24920   Black         AUTO                True
10  2010   SES  16995    40539   Black         AUTO                True
24  2009   SEL  15688    20019    Blue         AUTO               False
18  2011   SEL  15992    11662    Blue         AUTO                True
6   2011   SEL  17000    27393    Blue         AUTO                True
15  2011   SES  15999    16368    Blue         AUTO                True
25  2010    SE  15500    29338    Blue         AUTO                True
1   2011   SEL  20995    10926    Gray         AUTO               False
3   2011   SEL  17809    11613    Gray         AUTO                True
12  2011   SEL  16950     9388   Green         AUTO               False
13  2010   SES  16950    32058     Red         AUTO               False
9   2010   SES  16995    36116  Silver         AUTO               False
8   2011   SES  16995    32655  Silver         AUTO                True
7   2010   SEL  16995    21026  Silver         AUTO                True
16  2010   SEL  15999    19926  Silver         AUTO                True
17  2010   SES  15995    36049  Silver         AUTO                True
5   2010   SEL  17495    25125  Silver         AUTO                True
19  2011   SEL  15992    32069  Silver         AUTO                True
20  2010   SES  15988    16035  Silver       MANUAL                True
22  2011    SE  15899    36685  Silver         AUTO                True
2   2011   SEL  19995     7351  Silver         AUTO                True
11  2011   SES  16992     9199  Silver         AUTO                True
14  2011    SE  16000    15367   White         AUTO               False
21  2010   SEL  15980    39943   White         AUTO                True
4   2012    SE  17500     8367   White         AUTO                True
0   2011   SEL  21992     7413  Yellow         AUTO               False

In [3587]:
~cars.color.duplicated() #.duplicated( keep='first') opration reverced
# "~" TILDA symbol key below top lhs below esc escape key near F1 key
#it will reverce any function opration

26     True
23    False
10    False
24     True
18    False
6     False
15    False
25    False
1      True
3     False
12     True
13     True
9      True
8     False
7     False
16    False
17    False
5     False
19    False
20    False
22    False
2     False
11    False
14     True
21    False
4     False
0      True
Name: color, dtype: bool

In [3588]:
mask=~cars.color.duplicated() #.duplicated( keep='first') opration reverced
# "~" TILDA symbol key below top lhs below esc escape key near F1 key
#it will reverce any function opration
cars[mask]

    year model  price  mileage   color transmission  new boolean column
26  2010    SE  15499     7784   Black         AUTO               False
24  2009   SEL  15688    20019    Blue         AUTO               False
1   2011   SEL  20995    10926    Gray         AUTO               False
12  2011   SEL  16950     9388   Green         AUTO               False
13  2010   SES  16950    32058     Red         AUTO               False
9   2010   SES  16995    36116  Silver         AUTO               False
14  2011    SE  16000    15367   White         AUTO               False
0   2011   SEL  21992     7413  Yellow         AUTO               False

In [3589]:
mask=~cars["new boolean column"].duplicated(keep=False)
cars[mask]

Empty DataFrame
Columns: [year, model, price, mileage, color, transmission, new boolean column]
Index: []

In [3590]:
#DROP DUPLICATE METHOD IDENTIFIES AND DROP DUPLICATE VALUES
cars=m.read_csv("F:\cars.csv")
cars

    year model  price  mileage   color transmission
0   2011   SEL  21992     7413  Yellow         AUTO
1   2011   SEL  20995    10926    Gray         AUTO
2   2011   SEL  19995     7351  Silver         AUTO
3   2011   SEL  17809    11613    Gray         AUTO
4   2012    SE  17500     8367   White         AUTO
5   2010   SEL  17495    25125  Silver         AUTO
6   2011   SEL  17000    27393    Blue         AUTO
7   2010   SEL  16995    21026  Silver         AUTO
8   2011   SES  16995    32655  Silver         AUTO
9   2010   SES  16995    36116  Silver         AUTO
10  2010   SES  16995    40539   Black         AUTO
11  2011   SES  16992     9199  Silver         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO
14  2011    SE  16000    15367   White         AUTO
15  2011   SES  15999    16368    Blue         AUTO
16  2010   SEL  15999    19926  Silver         AUTO
17  2010   SES  15995    36049  Silver         AUTO
18  2011   SEL  15992    11662    Blue         AUTO
19  2011   SEL  15992    32069  Silver         AUTO
20  2010   SES  15988    16035  Silver       MANUAL
21  2010   SEL  15980    39943   White         AUTO
22  2011    SE  15899    36685  Silver         AUTO
23  2010   SEL  15889    24920   Black         AUTO
24  2009   SEL  15688    20019    Blue         AUTO
25  2010    SE  15500    29338    Blue         AUTO
26  2010    SE  15499     7784   Black         AUTO

In [3591]:
len(cars) #27 row in dataset

27

In [3592]:
''' SYNTAX
drop_duplicates(subset=None, keep='first', inplace=False)
Docstring:
Return DataFrame with duplicate rows removed, optionally only
considering certain columns. Indexes, including time indexes
are ignored.
'''
cars.drop_duplicates() #no value dropped coz no argument passed drop_duplicates(subset=None, keep='first', inplace=False)

    year model  price  mileage   color transmission
0   2011   SEL  21992     7413  Yellow         AUTO
1   2011   SEL  20995    10926    Gray         AUTO
2   2011   SEL  19995     7351  Silver         AUTO
3   2011   SEL  17809    11613    Gray         AUTO
4   2012    SE  17500     8367   White         AUTO
5   2010   SEL  17495    25125  Silver         AUTO
6   2011   SEL  17000    27393    Blue         AUTO
7   2010   SEL  16995    21026  Silver         AUTO
8   2011   SES  16995    32655  Silver         AUTO
9   2010   SES  16995    36116  Silver         AUTO
10  2010   SES  16995    40539   Black         AUTO
11  2011   SES  16992     9199  Silver         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO
14  2011    SE  16000    15367   White         AUTO
15  2011   SES  15999    16368    Blue         AUTO
16  2010   SEL  15999    19926  Silver         AUTO
17  2010   SES  15995    36049  Silver         AUTO
18  2011   SEL  15992    11662    Blue         AUTO
19  2011   SEL  15992    32069  Silver         AUTO
20  2010   SES  15988    16035  Silver       MANUAL
21  2010   SEL  15980    39943   White         AUTO
22  2011    SE  15899    36685  Silver         AUTO
23  2010   SEL  15889    24920   Black         AUTO
24  2009   SEL  15688    20019    Blue         AUTO
25  2010    SE  15500    29338    Blue         AUTO
26  2010    SE  15499     7784   Black         AUTO

In [3593]:
len(cars.drop_duplicates())  #no value dropped coz no argument passed drop_duplicates(subset=None, keep='first', inplace=False)

27

In [3594]:
cars

    year model  price  mileage   color transmission
0   2011   SEL  21992     7413  Yellow         AUTO
1   2011   SEL  20995    10926    Gray         AUTO
2   2011   SEL  19995     7351  Silver         AUTO
3   2011   SEL  17809    11613    Gray         AUTO
4   2012    SE  17500     8367   White         AUTO
5   2010   SEL  17495    25125  Silver         AUTO
6   2011   SEL  17000    27393    Blue         AUTO
7   2010   SEL  16995    21026  Silver         AUTO
8   2011   SES  16995    32655  Silver         AUTO
9   2010   SES  16995    36116  Silver         AUTO
10  2010   SES  16995    40539   Black         AUTO
11  2011   SES  16992     9199  Silver         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO
14  2011    SE  16000    15367   White         AUTO
15  2011   SES  15999    16368    Blue         AUTO
16  2010   SEL  15999    19926  Silver         AUTO
17  2010   SES  15995    36049  Silver         AUTO
18  2011   SEL  15992    11662    Blue         AUTO
19  2011   SEL  15992    32069  Silver         AUTO
20  2010   SES  15988    16035  Silver       MANUAL
21  2010   SEL  15980    39943   White         AUTO
22  2011    SE  15899    36685  Silver         AUTO
23  2010   SEL  15889    24920   Black         AUTO
24  2009   SEL  15688    20019    Blue         AUTO
25  2010    SE  15500    29338    Blue         AUTO
26  2010    SE  15499     7784   Black         AUTO

In [3595]:
cars.drop_duplicates(subset=["color"]) #compairing from above, now only single color first found in column car displayed,
# other rows of same color after that will be dropped
#keep='first' by default

    year model  price  mileage   color transmission
0   2011   SEL  21992     7413  Yellow         AUTO
1   2011   SEL  20995    10926    Gray         AUTO
2   2011   SEL  19995     7351  Silver         AUTO
4   2012    SE  17500     8367   White         AUTO
6   2011   SEL  17000    27393    Blue         AUTO
10  2010   SES  16995    40539   Black         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO

In [3596]:
cars.drop_duplicates(subset=["color"], keep='first') #compairing from above, now only single color first found in column car displayed,
# other rows of same color after that will be dropped
#keep='first' by default

    year model  price  mileage   color transmission
0   2011   SEL  21992     7413  Yellow         AUTO
1   2011   SEL  20995    10926    Gray         AUTO
2   2011   SEL  19995     7351  Silver         AUTO
4   2012    SE  17500     8367   White         AUTO
6   2011   SEL  17000    27393    Blue         AUTO
10  2010   SES  16995    40539   Black         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO

In [3597]:
cars.drop_duplicates(subset=["color"], keep='last') #compairing from above, now only single color found in last in that column car displayed,
# other rows of same color before last will be dropped
#keep='first' by default

    year model  price  mileage   color transmission
0   2011   SEL  21992     7413  Yellow         AUTO
3   2011   SEL  17809    11613    Gray         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO
21  2010   SEL  15980    39943   White         AUTO
22  2011    SE  15899    36685  Silver         AUTO
25  2010    SE  15500    29338    Blue         AUTO
26  2010    SE  15499     7784   Black         AUTO

In [3598]:
len(cars.drop_duplicates(subset=["color"], keep='last')  ) #now only 8 output

8

In [3599]:
#passing multiple columns in subset list[]
cars.drop_duplicates(subset=["color","model"], keep='last')

    year model  price  mileage   color transmission
0   2011   SEL  21992     7413  Yellow         AUTO
3   2011   SEL  17809    11613    Gray         AUTO
10  2010   SES  16995    40539   Black         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO
14  2011    SE  16000    15367   White         AUTO
15  2011   SES  15999    16368    Blue         AUTO
19  2011   SEL  15992    32069  Silver         AUTO
20  2010   SES  15988    16035  Silver       MANUAL
21  2010   SEL  15980    39943   White         AUTO
22  2011    SE  15899    36685  Silver         AUTO
23  2010   SEL  15889    24920   Black         AUTO
24  2009   SEL  15688    20019    Blue         AUTO
25  2010    SE  15500    29338    Blue         AUTO
26  2010    SE  15499     7784   Black         AUTO

In [3600]:
#passing multiple columns in subset list[]
cars.drop_duplicates(subset=["model","color"], keep='last')

    year model  price  mileage   color transmission
0   2011   SEL  21992     7413  Yellow         AUTO
3   2011   SEL  17809    11613    Gray         AUTO
10  2010   SES  16995    40539   Black         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO
14  2011    SE  16000    15367   White         AUTO
15  2011   SES  15999    16368    Blue         AUTO
19  2011   SEL  15992    32069  Silver         AUTO
20  2010   SES  15988    16035  Silver       MANUAL
21  2010   SEL  15980    39943   White         AUTO
22  2011    SE  15899    36685  Silver         AUTO
23  2010   SEL  15889    24920   Black         AUTO
24  2009   SEL  15688    20019    Blue         AUTO
25  2010    SE  15500    29338    Blue         AUTO
26  2010    SE  15499     7784   Black         AUTO

In [3601]:
#passing multiple columns in subset list[]
cars.drop_duplicates(subset=["color","model"], keep='last')

    year model  price  mileage   color transmission
0   2011   SEL  21992     7413  Yellow         AUTO
3   2011   SEL  17809    11613    Gray         AUTO
10  2010   SES  16995    40539   Black         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO
14  2011    SE  16000    15367   White         AUTO
15  2011   SES  15999    16368    Blue         AUTO
19  2011   SEL  15992    32069  Silver         AUTO
20  2010   SES  15988    16035  Silver       MANUAL
21  2010   SEL  15980    39943   White         AUTO
22  2011    SE  15899    36685  Silver         AUTO
23  2010   SEL  15889    24920   Black         AUTO
24  2009   SEL  15688    20019    Blue         AUTO
25  2010    SE  15500    29338    Blue         AUTO
26  2010    SE  15499     7784   Black         AUTO

In [3602]:
#passing multiple columns in subset list[]
cars.drop_duplicates(subset=["transmission","model"], keep='last')

    year model  price  mileage   color transmission
17  2010   SES  15995    36049  Silver         AUTO
20  2010   SES  15988    16035  Silver       MANUAL
24  2009   SEL  15688    20019    Blue         AUTO
26  2010    SE  15499     7784   Black         AUTO

In [3603]:
#passing multiple columns in subset list[]
cars.drop_duplicates(subset=["transmission","model","year"], keep='last')

    year model  price  mileage   color transmission
4   2012    SE  17500     8367   White         AUTO
15  2011   SES  15999    16368    Blue         AUTO
17  2010   SES  15995    36049  Silver         AUTO
19  2011   SEL  15992    32069  Silver         AUTO
20  2010   SES  15988    16035  Silver       MANUAL
22  2011    SE  15899    36685  Silver         AUTO
23  2010   SEL  15889    24920   Black         AUTO
24  2009   SEL  15688    20019    Blue         AUTO
26  2010    SE  15499     7784   Black         AUTO

In [3604]:
#passing multiple columns in subset list[]
cars.drop_duplicates(subset=["color","year"], keep='last')

    year model  price  mileage   color transmission
0   2011   SEL  21992     7413  Yellow         AUTO
3   2011   SEL  17809    11613    Gray         AUTO
4   2012    SE  17500     8367   White         AUTO
12  2011   SEL  16950     9388   Green         AUTO
13  2010   SES  16950    32058     Red         AUTO
14  2011    SE  16000    15367   White         AUTO
18  2011   SEL  15992    11662    Blue         AUTO
20  2010   SES  15988    16035  Silver       MANUAL
21  2010   SEL  15980    39943   White         AUTO
22  2011    SE  15899    36685  Silver         AUTO
24  2009   SEL  15688    20019    Blue         AUTO
25  2010    SE  15500    29338    Blue         AUTO
26  2010    SE  15499     7784   Black         AUTO

In [3605]:
len(cars.drop_duplicates(subset=["color","year"], keep='last') )

13

In [3606]:
len(cars.drop_duplicates(subset=["transmission","model","year"], keep='last'))

9

In [3607]:
len(cars.drop_duplicates(subset=["model","color"], keep='last'))

15

In [3608]:
len(cars.drop_duplicates(subset=["color","model"], keep='last') )

15

In [3609]:
len(cars.drop_duplicates(subset=["color","transmission"], keep='last') )

9

In [3610]:
cars["new boolean column"]=cars.year>2010 # adding a new boolean column with a condition for testing
cars

    year model  price  mileage   color transmission  new boolean column
0   2011   SEL  21992     7413  Yellow         AUTO                True
1   2011   SEL  20995    10926    Gray         AUTO                True
2   2011   SEL  19995     7351  Silver         AUTO                True
3   2011   SEL  17809    11613    Gray         AUTO                True
4   2012    SE  17500     8367   White         AUTO                True
5   2010   SEL  17495    25125  Silver         AUTO               False
6   2011   SEL  17000    27393    Blue         AUTO                True
7   2010   SEL  16995    21026  Silver         AUTO               False
8   2011   SES  16995    32655  Silver         AUTO                True
9   2010   SES  16995    36116  Silver         AUTO               False
10  2010   SES  16995    40539   Black         AUTO               False
11  2011   SES  16992     9199  Silver         AUTO                True
12  2011   SEL  16950     9388   Green         AUTO                True
13  2010   SES  16950    32058     Red         AUTO               False
14  2011    SE  16000    15367   White         AUTO                True
15  2011   SES  15999    16368    Blue         AUTO                True
16  2010   SEL  15999    19926  Silver         AUTO               False
17  2010   SES  15995    36049  Silver         AUTO               False
18  2011   SEL  15992    11662    Blue         AUTO                True
19  2011   SEL  15992    32069  Silver         AUTO                True
20  2010   SES  15988    16035  Silver       MANUAL               False
21  2010   SEL  15980    39943   White         AUTO               False
22  2011    SE  15899    36685  Silver         AUTO                True
23  2010   SEL  15889    24920   Black         AUTO               False
24  2009   SEL  15688    20019    Blue         AUTO               False
25  2010    SE  15500    29338    Blue         AUTO               False
26  2010    SE  15499     7784   Black         AUTO               False

In [3611]:
cars.drop_duplicates(subset=["new boolean column"], keep=False) #keep=false by default for boolean

Empty DataFrame
Columns: [year, model, price, mileage, color, transmission, new boolean column]
Index: []

In [3612]:
cars.drop_duplicates(subset=["transmission"], keep=False) #keep=false by default for boolean

    year model  price  mileage   color transmission  new boolean column
20  2010   SES  15988    16035  Silver       MANUAL               False

In [3613]:
cars.drop_duplicates(subset=["color"], keep=False) #keep=false by default for boolean

    year model  price  mileage   color transmission  new boolean column
0   2011   SEL  21992     7413  Yellow         AUTO                True
12  2011   SEL  16950     9388   Green         AUTO                True
13  2010   SES  16950    32058     Red         AUTO               False

In [3614]:
#SET INDEX AND RESET INDEX
'''
SYNTAX
.set_index(
    keys,
    drop=True,
    append=False,
    inplace=False,
    verify_integrity=False,
)
Docstring:
Set the DataFrame index using existing columns.

Set the DataFrame index (row labels) using one or more existing
columns or arrays (of the correct length). The index can replace the
existing index or expand on it.

Parameters
----------
keys : label or array-like or list of labels/arrays
    This parameter can be either a single column key, a single array of
    the same length as the calling DataFrame, or a list containing an
    arbitrary combination of column keys and arrays. Here, "array"
    encompasses :class:`Series`, :class:`Index`, ``np.ndarray``, and
    instances of :class:`~collections.abc.Iterator`.
drop : bool, default True
    Delete columns to be used as the new index.
append : bool, default False
    Whether to append columns to existing index.
inplace : bool, default False
    Modify the DataFrame in place (do not create a new object).
verify_integrity : bool, default False
    Check the new index for duplicates. Otherwise defer the check until
    necessary. Setting to False will improve the performance of this
    method.
'''
cars.set_index("price") #NOW PRICE IS THE NEW INDEX COLUMN

       year model  mileage   color transmission  new boolean column
price
21992  2011   SEL     7413  Yellow         AUTO                True
20995  2011   SEL    10926    Gray         AUTO                True
19995  2011   SEL     7351  Silver         AUTO                True
17809  2011   SEL    11613    Gray         AUTO                True
17500  2012    SE     8367   White         AUTO                True
17495  2010   SEL    25125  Silver         AUTO               False
17000  2011   SEL    27393    Blue         AUTO                True
16995  2010   SEL    21026  Silver         AUTO               False
16995  2011   SES    32655  Silver         AUTO                True
16995  2010   SES    36116  Silver         AUTO               False
16995  2010   SES    40539   Black         AUTO               False
16992  2011   SES     9199  Silver         AUTO                True
16950  2011   SEL     9388   Green         AUTO                True
16950  2010   SES    32058     Red         AUTO               False
16000  2011    SE    15367   White         AUTO                True
15999  2011   SES    16368    Blue         AUTO                True
15999  2010   SEL    19926  Silver         AUTO               False
15995  2010   SES    36049  Silver         AUTO               False
15992  2011   SEL    11662    Blue         AUTO                True
15992  2011   SEL    32069  Silver         AUTO                True
15988  2010   SES    16035  Silver       MANUAL               False
15980  2010   SEL    39943   White         AUTO               False
15899  2011    SE    36685  Silver         AUTO                True
15889  2010   SEL    24920   Black         AUTO               False
15688  2009   SEL    20019    Blue         AUTO               False
15500  2010    SE    29338    Blue         AUTO               False
15499  2010    SE     7784   Black         AUTO               False

In [3615]:
''' SYNTAX
.reset_index(
    level=None,
    drop=False,
    inplace=False,
    col_level=0,
    col_fill='',
)
Docstring:
Reset the index, or a level of it.

Reset the index of the DataFrame, and use the default one instead.
If the DataFrame has a MultiIndex, this method can remove one or more
levels.

Parameters
----------
level : int, str, tuple, or list, default None
    Only remove the given levels from the index. Removes all levels by
    default.
drop : bool, default False
    Do not try to insert index into dataframe columns. This resets
    the index to the default integer index.
inplace : bool, default False
    Modify the DataFrame in place (do not create a new object).
col_level : int or str, default 0
    If the columns have multiple levels, determines which level the
    labels are inserted into. By default it is inserted into the first
    level.
col_fill : object, default ''
    If the columns have multiple levels, determines how the other
    levels are named. If None then the index name is repeated.
'''

cars.reset_index() #BACK TO ORIGINAL FORMAT

    index  year model  price  mileage   color transmission  new boolean column
0       0  2011   SEL  21992     7413  Yellow         AUTO                True
1       1  2011   SEL  20995    10926    Gray         AUTO                True
2       2  2011   SEL  19995     7351  Silver         AUTO                True
3       3  2011   SEL  17809    11613    Gray         AUTO                True
4       4  2012    SE  17500     8367   White         AUTO                True
5       5  2010   SEL  17495    25125  Silver         AUTO               False
6       6  2011   SEL  17000    27393    Blue         AUTO                True
7       7  2010   SEL  16995    21026  Silver         AUTO               False
8       8  2011   SES  16995    32655  Silver         AUTO                True
9       9  2010   SES  16995    36116  Silver         AUTO               False
10     10  2010   SES  16995    40539   Black         AUTO               False
11     11  2011   SES  16992     9199  Silver         AUTO                True
12     12  2011   SEL  16950     9388   Green         AUTO                True
13     13  2010   SES  16950    32058     Red         AUTO               False
14     14  2011    SE  16000    15367   White         AUTO                True
15     15  2011   SES  15999    16368    Blue         AUTO                True
16     16  2010   SEL  15999    19926  Silver         AUTO               False
17     17  2010   SES  15995    36049  Silver         AUTO               False
18     18  2011   SEL  15992    11662    Blue         AUTO                True
19     19  2011   SEL  15992    32069  Silver         AUTO                True
20     20  2010   SES  15988    16035  Silver       MANUAL               False
21     21  2010   SEL  15980    39943   White         AUTO               False
22     22  2011    SE  15899    36685  Silver         AUTO                True
23     23  2010   SEL  15889    24920   Black         AUTO               False
24     24  2009   SEL  15688    20019    Blue         AUTO               False
25     25  2010    SE  15500    29338    Blue         AUTO               False
26     26  2010    SE  15499     7784   Black         AUTO               False

In [3616]:
cars.set_index("price") #data not pernanently changed in dataset with inplace=true argument
cars.head()

   year model  price  mileage   color transmission  new boolean column
0  2011   SEL  21992     7413  Yellow         AUTO                True
1  2011   SEL  20995    10926    Gray         AUTO                True
2  2011   SEL  19995     7351  Silver         AUTO                True
3  2011   SEL  17809    11613    Gray         AUTO                True
4  2012    SE  17500     8367   White         AUTO                True

In [3617]:
cars.reset_index()

    index  year model  price  mileage   color transmission  new boolean column
0       0  2011   SEL  21992     7413  Yellow         AUTO                True
1       1  2011   SEL  20995    10926    Gray         AUTO                True
2       2  2011   SEL  19995     7351  Silver         AUTO                True
3       3  2011   SEL  17809    11613    Gray         AUTO                True
4       4  2012    SE  17500     8367   White         AUTO                True
5       5  2010   SEL  17495    25125  Silver         AUTO               False
6       6  2011   SEL  17000    27393    Blue         AUTO                True
7       7  2010   SEL  16995    21026  Silver         AUTO               False
8       8  2011   SES  16995    32655  Silver         AUTO                True
9       9  2010   SES  16995    36116  Silver         AUTO               False
10     10  2010   SES  16995    40539   Black         AUTO               False
11     11  2011   SES  16992     9199  Silver         AUTO                True
12     12  2011   SEL  16950     9388   Green         AUTO                True
13     13  2010   SES  16950    32058     Red         AUTO               False
14     14  2011    SE  16000    15367   White         AUTO                True
15     15  2011   SES  15999    16368    Blue         AUTO                True
16     16  2010   SEL  15999    19926  Silver         AUTO               False
17     17  2010   SES  15995    36049  Silver         AUTO               False
18     18  2011   SEL  15992    11662    Blue         AUTO                True
19     19  2011   SEL  15992    32069  Silver         AUTO                True
20     20  2010   SES  15988    16035  Silver       MANUAL               False
21     21  2010   SEL  15980    39943   White         AUTO               False
22     22  2011    SE  15899    36685  Silver         AUTO                True
23     23  2010   SEL  15889    24920   Black         AUTO               False
24     24  2009   SEL  15688    20019    Blue         AUTO               False
25     25  2010    SE  15500    29338    Blue         AUTO               False
26     26  2010    SE  15499     7784   Black         AUTO               False

In [3618]:
cars.set_index("price",inplace=True) #data pernanently changed in dataset with inplace=true argument
cars.head()

       year model  mileage   color transmission  new boolean column
price
21992  2011   SEL     7413  Yellow         AUTO                True
20995  2011   SEL    10926    Gray         AUTO                True
19995  2011   SEL     7351  Silver         AUTO                True
17809  2011   SEL    11613    Gray         AUTO                True
17500  2012    SE     8367   White         AUTO                True

In [3619]:
'''drop : bool, default False
    Do not try to insert index into dataframe columns. This resets
    the index to the default integer index.'''
cars.reset_index(drop=True) #price index column is now dropped or removed from dataset,

    year model  mileage   color transmission  new boolean column
0   2011   SEL     7413  Yellow         AUTO                True
1   2011   SEL    10926    Gray         AUTO                True
2   2011   SEL     7351  Silver         AUTO                True
3   2011   SEL    11613    Gray         AUTO                True
4   2012    SE     8367   White         AUTO                True
5   2010   SEL    25125  Silver         AUTO               False
6   2011   SEL    27393    Blue         AUTO                True
7   2010   SEL    21026  Silver         AUTO               False
8   2011   SES    32655  Silver         AUTO                True
9   2010   SES    36116  Silver         AUTO               False
10  2010   SES    40539   Black         AUTO               False
11  2011   SES     9199  Silver         AUTO                True
12  2011   SEL     9388   Green         AUTO                True
13  2010   SES    32058     Red         AUTO               False
14  2011    SE    15367   White         AUTO                True
15  2011   SES    16368    Blue         AUTO                True
16  2010   SEL    19926  Silver         AUTO               False
17  2010   SES    36049  Silver         AUTO               False
18  2011   SEL    11662    Blue         AUTO                True
19  2011   SEL    32069  Silver         AUTO                True
20  2010   SES    16035  Silver       MANUAL               False
21  2010   SEL    39943   White         AUTO               False
22  2011    SE    36685  Silver         AUTO                True
23  2010   SEL    24920   Black         AUTO               False
24  2009   SEL    20019    Blue         AUTO               False
25  2010    SE    29338    Blue         AUTO               False
26  2010    SE     7784   Black         AUTO               False

In [3620]:
#ACCESSING ROWS
cars=m.read_csv("F:\cars4.csv") #taking another dataset as example
cars.set_index("model",inplace=True) #model column is now index and changed permanently in dataset for next execution
cars.sort_index(inplace=True) #index model sorted ascendin=true by default for next execution
cars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
AMC Javelin,15.2,8.0,304.0,150.0,3.15,3.435,17.30,0.0,0.0,NaN,NaN
Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.250,17.98,0.0,0.0,3.0,4.0
Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,NaN,NaN
Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0
Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0
Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN
Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3621]:
cars.loc["Datsun 710"] #Access a group of rows and columns by label(s) in [] brackets
#GETTING INFO OF A SINGLE ROW FOR Datsun 710 CAR ALL COLUMN PARAMETERS

mpg      22.80
cyl       4.00
disp    108.00
hp       93.00
drat      3.85
wt        2.32
qsec     18.61
vs        1.00
am        1.00
gear      4.00
carb      1.00
Name: Datsun 710, dtype: float64

In [3622]:
cars.loc["Datsun 710":"Hornet Sportabout"] #ACCESSING FROM "Datsun 710" TO "Hornet Sportabout" ROW DATA
#since index are now model so we can only access from model names like above, cars.loc[6:18] will give error
#if index of cars was still integer, .loc[] would have worked but since new index is model so .loc[] will not take integer index

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0

In [3623]:
cars.iloc[5:10] # to access from integer index, use iloc[], 
#if index of cars was still integer, .loc[] would have worked but since new index is model so .loc[] will not take integer index

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0

In [3624]:
cars.loc["Datsun 710":"Hornet Sportabout","cyl":"drat"] #.loc["row start":"row end", "column start":"column end"]
#giving row column range

                   cyl   disp     hp  drat
model
Datsun 710         4.0  108.0   93.0  3.85
Dodge Challenger   8.0  318.0  150.0  2.76
Duster 360         8.0  360.0  245.0  3.21
Ferrari Dino       6.0  145.0  175.0  3.62
Fiat 128           4.0    NaN    NaN   NaN
Fiat X1-9          4.0   79.0   66.0  4.08
Ford Pantera L     8.0  351.0  264.0  4.22
Honda Civic        4.0    NaN    NaN   NaN
Hornet 4 Drive     6.0  258.0  110.0  3.08
Hornet Sportabout  8.0  360.0  175.0  3.15

In [3625]:
cars.loc[:,"cyl":"drat"] #ACCESSING COLUMNS

                     cyl   disp     hp  drat
model
AMC Javelin          8.0  304.0  150.0  3.15
Cadillac Fleetwood   NaN    NaN    NaN   NaN
Camaro Z28           8.0  350.0  245.0  3.73
Chrysler Imperial    8.0    NaN    NaN   NaN
Datsun 710           4.0  108.0   93.0  3.85
Dodge Challenger     8.0  318.0  150.0  2.76
Duster 360           8.0  360.0  245.0  3.21
Ferrari Dino         6.0  145.0  175.0  3.62
Fiat 128             4.0    NaN    NaN   NaN
Fiat X1-9            4.0   79.0   66.0  4.08
Ford Pantera L       8.0  351.0  264.0  4.22
Honda Civic          4.0    NaN    NaN   NaN
Hornet 4 Drive       6.0  258.0  110.0  3.08
Hornet Sportabout    8.0  360.0  175.0  3.15
Lincoln Continental  NaN    NaN    NaN   NaN
Lotus Europa         4.0   95.1  113.0  3.77
Maserati Bora        8.0  301.0  335.0  3.54
Mazda RX4            6.0  160.0  110.0  3.90
Mazda RX4 Wag        6.0  160.0  110.0  3.90
Merc 230             4.0  140.8   95.0  3.92
Merc 240D            4.0  146.7   62.0  3.69
Merc 280             6.0  167.6  123.0  3.92
Merc 280C            6.0  167.6  123.0  3.92
Merc 450SE           8.0  275.8  180.0  3.07
Merc 450SL           NaN  275.8  180.0  3.07
Merc 450SLC          NaN  275.8  180.0  3.07
Pontiac Firebird     8.0  400.0  175.0  3.08
Toyota Corolla       4.0    NaN    NaN   NaN
Toyota Corona        4.0  120.1   97.0  3.70
Valiant              6.0  225.0  105.0  2.76
Volvo 142E           4.0  121.0  109.0  4.11
NaN                  NaN    NaN    NaN   NaN

In [3626]:
cars.loc["Hornet Sportabout":,:"cyl"] #ALL INDEXING RULES SAME APPLIED FROM:TO

                      mpg  cyl
model
Hornet Sportabout    18.7  8.0
Lincoln Continental   NaN  NaN
Lotus Europa         30.4  4.0
Maserati Bora        15.0  8.0
Mazda RX4            21.0  6.0
Mazda RX4 Wag        21.0  6.0
Merc 230             22.8  4.0
Merc 240D            24.4  4.0
Merc 280             19.2  6.0
Merc 280C            17.8  6.0
Merc 450SE           16.4  8.0
Merc 450SL            NaN  NaN
Merc 450SLC           NaN  NaN
Pontiac Firebird     19.2  8.0
Toyota Corolla       33.9  4.0
Toyota Corona        21.5  4.0
Valiant              18.1  6.0
Volvo 142E           21.4  4.0
NaN                   NaN  NaN

In [3627]:
#TO ACCESS ANY SPECIFIC DATA LIKE ANY TWO CARS
cars.loc[["Hornet Sportabout","Datsun 710"]] # [["CAR1","CAR2","CAR3"......]] FORMAT USED, IF ANY "CAR NAME" PASSRD WHICH IS NOT PRESENT IN DATASET, NAN RETURNED IN OUTPUT

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.44,17.02,0.0,0.0,3.0,2.0
Datsun 710,22.8,4.0,108.0,93.0,3.85,2.32,18.61,1.0,1.0,4.0,1.0

In [3628]:
#TO ACCESS ANY SPECIFIC DATA LIKE ANY TWO CARS
cars.loc[["Hornet Sportabout","Datsun 710","EXAMPLE NOT PRESENT"]] # [["CAR1","CAR2","CAR3"......]] FORMAT USED, IF ANY "CAR NAME" PASSRD WHICH IS NOT PRESENT IN DATASET, NAN RETURNED IN OUTPUT

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.44,17.02,0.0,0.0,3.0,2.0
Datsun 710,22.8,4.0,108.0,93.0,3.85,2.32,18.61,1.0,1.0,4.0,1.0
EXAMPLE NOT PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3629]:
#USING "in" keyword returns boolean
"Hornet Sportabout" in cars
#index data not compaired directly

False

In [3630]:
#USING "in" keyword returns boolean
"Hornet Sportabout" in cars.index

True

In [3631]:
cars.index #gives out all index

Index([        'AMC Javelin',  'Cadillac Fleetwood',          'Camaro Z28',
         'Chrysler Imperial',          'Datsun 710',    'Dodge Challenger',
                'Duster 360',        'Ferrari Dino',            'Fiat 128',
                 'Fiat X1-9',      'Ford Pantera L',         'Honda Civic',
            'Hornet 4 Drive',   'Hornet Sportabout', 'Lincoln Continental',
              'Lotus Europa',       'Maserati Bora',           'Mazda RX4',
             'Mazda RX4 Wag',            'Merc 230',           'Merc 240D',
                  'Merc 280',           'Merc 280C',          'Merc 450SE',
                'Merc 450SL',         'Merc 450SLC',    'Pontiac Firebird',
            'Toyota Corolla',       'Toyota Corona',             'Valiant',
                'Volvo 142E',                   nan],
      dtype='object', name='model')

In [3632]:
"mpg" in cars #gives out mpg as true because it is column name means a key

True

In [3633]:
cars.columns # gives out all column name

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb'],
      dtype='object')

In [3634]:
"cyl" in cars

True

In [3635]:
"non present data example" in cars

False

In [3636]:
# CATCH ALL IX() METHOD IT WORKS AS BOTH .LOC[] AND .ILOC[] METHODS
print("cars.ix[Chrysler Imperial] output")
print(cars.ix["Chrysler Imperial"]) #both index give same output
print("cars.ix[3] output")
print(cars.ix[3]) #both index give same output
print("both give same output")

cars.ix[Chrysler Imperial] output
mpg     14.700
cyl      8.000
disp       NaN
hp         NaN
drat       NaN
wt       5.345
qsec    17.420
vs       0.000
am       0.000
gear     3.000
carb     4.000
Name: Chrysler Imperial, dtype: float64
cars.ix[3] output
mpg     14.700
cyl      8.000
disp       NaN
hp         NaN
drat       NaN
wt       5.345
qsec    17.420
vs       0.000
am       0.000
gear     3.000
carb     4.000
Name: Chrysler Imperial, dtype: float64
both give same output

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """

In [3637]:
print("both give same output")
print("output 1")
print(cars.ix[[3,4,5]])
print("output 2")
print(cars.ix[["Chrysler Imperial","Datsun 710","Dodge Challenger"]])

both give same output
output 1
                    mpg  cyl   disp     hp  drat     wt   qsec   vs   am  \
model
Chrysler Imperial  14.7  8.0    NaN    NaN   NaN  5.345  17.42  0.0  0.0
Datsun 710         22.8  4.0  108.0   93.0  3.85  2.320  18.61  1.0  1.0
Dodge Challenger   15.5  8.0  318.0  150.0  2.76    NaN    NaN  NaN  NaN

                   gear  carb
model
Chrysler Imperial   3.0   4.0
Datsun 710          4.0   1.0
Dodge Challenger    NaN   NaN
output 2
                    mpg  cyl   disp     hp  drat     wt   qsec   vs   am  \
model
Chrysler Imperial  14.7  8.0    NaN    NaN   NaN  5.345  17.42  0.0  0.0
Datsun 710         22.8  4.0  108.0   93.0  3.85  2.320  18.61  1.0  1.0
Dodge Challenger   15.5  8.0  318.0  150.0  2.76    NaN    NaN  NaN  NaN

                   gear  carb
model
Chrysler Imperial   3.0   4.0
Datsun 710          4.0   1.0
Dodge Challenger    NaN   NaN

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """

In [3638]:
print("both give same output")
print("output 1")
print(cars.ix[3:8]) #from 3 to until before 8, until before for integers
print("output 2")
print(cars.ix["Chrysler Imperial":"Ferrari Dino"]) #from "Chrysler Imperial" to until  "Ferrari Dino", until indexind for strings
#indexing rule apply diffrently for integer range index and string index

both give same output
output 1
                    mpg  cyl   disp     hp  drat     wt   qsec   vs   am  \
model
Chrysler Imperial  14.7  8.0    NaN    NaN   NaN  5.345  17.42  0.0  0.0
Datsun 710         22.8  4.0  108.0   93.0  3.85  2.320  18.61  1.0  1.0
Dodge Challenger   15.5  8.0  318.0  150.0  2.76    NaN    NaN  NaN  NaN
Duster 360         14.3  8.0  360.0  245.0  3.21  3.570  15.84  0.0  0.0
Ferrari Dino       19.7  6.0  145.0  175.0  3.62  2.770  15.50  0.0  1.0

                   gear  carb
model
Chrysler Imperial   3.0   4.0
Datsun 710          4.0   1.0
Dodge Challenger    NaN   NaN
Duster 360          3.0   4.0
Ferrari Dino        5.0   6.0
output 2
                    mpg  cyl   disp     hp  drat     wt   qsec   vs   am  \
model
Chrysler Imperial  14.7  8.0    NaN    NaN   NaN  5.345  17.42  0.0  0.0
Datsun 710         22.8  4.0  108.0   93.0  3.85  2.320  18.61  1.0  1.0
Dodge Challenger   15.5  8.0  318.0  150.0  2.76    NaN    NaN  NaN  NaN
Duster 360         14.3  8.0  360.0  245.0  3.21  3.570  15.84  0.0  0.0
Ferrari Dino       19.7  6.0  145.0  175.0  3.62  2.770  15.50  0.0  1.0

                   gear  carb
model
Chrysler Imperial   3.0   4.0
Datsun 710          4.0   1.0
Dodge Challenger    NaN   NaN
Duster 360          3.0   4.0
Ferrari Dino        5.0   6.0

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """

In [3639]:
cars.ix[3:8,5:11] #using ix[rowstart:rowend,columnstart:columnend] indexing ised as iloc[] method

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

                      wt   qsec   vs   am  gear  carb
model
Chrysler Imperial  5.345  17.42  0.0  0.0   3.0   4.0
Datsun 710         2.320  18.61  1.0  1.0   4.0   1.0
Dodge Challenger     NaN    NaN  NaN  NaN   NaN   NaN
Duster 360         3.570  15.84  0.0  0.0   3.0   4.0
Ferrari Dino       2.770  15.50  0.0  1.0   5.0   6.0

In [3640]:
cars.ix["Chrysler Imperial":"Ferrari Dino","wt":"carb"] #using ix[rowstart:rowend,columnstart:columnend] indexing ised as loc[] method

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

                      wt   qsec   vs   am  gear  carb
model
Chrysler Imperial  5.345  17.42  0.0  0.0   3.0   4.0
Datsun 710         2.320  18.61  1.0  1.0   4.0   1.0
Dodge Challenger     NaN    NaN  NaN  NaN   NaN   NaN
Duster 360         3.570  15.84  0.0  0.0   3.0   4.0
Ferrari Dino       2.770  15.50  0.0  1.0   5.0   6.0

In [3641]:
cars.ix["Chrysler Imperial":,:"carb"] #using ix[rowstart:rowend,columnstart:columnend] indexing ised as loc[] method

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
Chrysler Imperial,14.7,8.0,NaN,NaN,NaN,5.345,17.42,0.0,0.0,3.0,4.0
Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
Dodge Challenger,15.5,8.0,318.0,150.0,2.76,NaN,NaN,NaN,NaN,NaN,NaN
Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
Ferrari Dino,19.7,6.0,145.0,175.0,3.62,2.770,15.50,0.0,1.0,5.0,6.0
Fiat 128,32.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
Ford Pantera L,15.8,8.0,351.0,264.0,4.22,3.170,14.50,0.0,1.0,5.0,4.0
Honda Civic,30.4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
Lincoln Continental,NaN,NaN,NaN,NaN,NaN,5.424,17.82,0.0,0.0,3.0,4.0
Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0
Maserati Bora,15.0,8.0,301.0,335.0,3.54,3.570,14.60,0.0,1.0,5.0,8.0
Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0
Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
Merc 280,19.2,6.0,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4.0,4.0
Merc 280C,17.8,6.0,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4.0,4.0
Merc 450SE,16.4,8.0,275.8,180.0,3.07,4.070,17.40,0.0,0.0,3.0,3.0
Merc 450SL,NaN,NaN,275.8,180.0,3.07,3.730,17.60,0.0,0.0,3.0,3.0
Merc 450SLC,NaN,NaN,275.8,180.0,3.07,3.780,18.00,0.0,0.0,3.0,3.0
Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
Toyota Corolla,33.9,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
Toyota Corona,21.5,4.0,120.1,97.0,3.70,NaN,NaN,NaN,NaN,NaN,NaN
Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
Volvo 142E,21.4,4.0,121.0,109.0,4.11,2.780,18.60,1.0,1.0,4.0,2.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3642]:
cars.ix[7:,:9] #using ix[rowstart:rowend,columnstart:columnend] indexing ised as loc[] method

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

                      mpg  cyl   disp     hp  drat     wt   qsec   vs   am
model
Ferrari Dino         19.7  6.0  145.0  175.0  3.62  2.770  15.50  0.0  1.0
Fiat 128             32.4  4.0    NaN    NaN   NaN    NaN    NaN  NaN  NaN
Fiat X1-9            27.3  4.0   79.0   66.0  4.08  1.935  18.90  1.0  1.0
Ford Pantera L       15.8  8.0  351.0  264.0  4.22  3.170  14.50  0.0  1.0
Honda Civic          30.4  4.0    NaN    NaN   NaN    NaN    NaN  NaN  NaN
Hornet 4 Drive       21.4  6.0  258.0  110.0  3.08  3.215  19.44  1.0  0.0
Hornet Sportabout    18.7  8.0  360.0  175.0  3.15  3.440  17.02  0.0  0.0
Lincoln Continental   NaN  NaN    NaN    NaN   NaN  5.424  17.82  0.0  0.0
Lotus Europa         30.4  4.0   95.1  113.0  3.77  1.513  16.90  1.0  1.0
Maserati Bora        15.0  8.0  301.0  335.0  3.54  3.570  14.60  0.0  1.0
Mazda RX4            21.0  6.0  160.0  110.0  3.90  2.620  16.46  0.0  1.0
Mazda RX4 Wag        21.0  6.0  160.0  110.0  3.90  2.875  17.02  0.0  1.0
Merc 230             22.8  4.0  140.8   95.0  3.92  3.150  22.90  1.0  0.0
Merc 240D            24.4  4.0  146.7   62.0  3.69  3.190  20.00  1.0  0.0
Merc 280             19.2  6.0  167.6  123.0  3.92  3.440  18.30  1.0  0.0
Merc 280C            17.8  6.0  167.6  123.0  3.92  3.440  18.90  1.0  0.0
Merc 450SE           16.4  8.0  275.8  180.0  3.07  4.070  17.40  0.0  0.0
Merc 450SL            NaN  NaN  275.8  180.0  3.07  3.730  17.60  0.0  0.0
Merc 450SLC           NaN  NaN  275.8  180.0  3.07  3.780  18.00  0.0  0.0
Pontiac Firebird     19.2  8.0  400.0  175.0  3.08  3.845  17.05  0.0  0.0
Toyota Corolla       33.9  4.0    NaN    NaN   NaN    NaN    NaN  NaN  NaN
Toyota Corona        21.5  4.0  120.1   97.0  3.70    NaN    NaN  NaN  NaN
Valiant              18.1  6.0  225.0  105.0  2.76  3.460  20.22  1.0  0.0
Volvo 142E           21.4  4.0  121.0  109.0  4.11  2.780  18.60  1.0  1.0
NaN                   NaN  NaN    NaN    NaN   NaN    NaN    NaN  NaN  NaN

In [3643]:
cars.iloc[4,9] #cars.iloc[row,column]

4.0

In [3644]:
cars.loc["Datsun 710","qsec"] #cars.loc[rowindex,columnindex]

18.61

In [3645]:
cars.ix[4,9] #cars.ix[row,column]

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

4.0

In [3646]:
cars.ix["Datsun 710","qsec"] #cars.ix["row index","column index"]

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

18.61

In [3647]:
cars.ix["Datsun 710",["qsec","cyl","drat"]]

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

qsec    18.61
cyl      4.00
drat     3.85
Name: Datsun 710, dtype: float64

In [3648]:
cars.ix[8,["qsec","cyl","drat"]]

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

qsec    NaN
cyl     4.0
drat    NaN
Name: Fiat 128, dtype: float64

In [3649]:
cars.ix[12,[7,5,2]]

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

vs        1.000
wt        3.215
disp    258.000
Name: Hornet 4 Drive, dtype: float64

In [3650]:
cars.iloc[[12,17,19],[7,5,2]]

                 vs     wt   disp
model
Hornet 4 Drive  1.0  3.215  258.0
Mazda RX4       0.0  2.620  160.0
Merc 230        1.0  3.150  140.8

In [3651]:
cars.iloc[[12,17,19],6 ]

model
Hornet 4 Drive    19.44
Mazda RX4         16.46
Merc 230          22.90
Name: qsec, dtype: float64

In [3652]:
cars.iloc[[12,17,19],[6,3 ]]

                 qsec     hp
model
Hornet 4 Drive  19.44  110.0
Mazda RX4       16.46  110.0
Merc 230        22.90   95.0

In [3653]:
cars.iloc[5,7]

nan

In [3654]:
#entering new data in cars dataset 
cars.iloc[5,7]=9
cars.iloc[5,7]

9.0

In [3655]:
cars.loc["Datsun 710","qsec"]

18.61

In [3656]:
#entering new data in cars dataset
cars.loc["Datsun 710","qsec"]=25
cars.loc["Datsun 710","qsec"]

25.0

In [3657]:

cars.ix["Datsun 710","cyl"]

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

4.0

In [3658]:
#entering new data in cars dataset
cars.ix["Datsun 710","cyl"]=14
cars.loc["Datsun 710","cyl"]

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

14.0

In [3659]:
cars.ix["Datsun 710"]

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

mpg      22.80
cyl      14.00
disp    108.00
hp       93.00
drat      3.85
wt        2.32
qsec     25.00
vs        1.00
am        1.00
gear      4.00
carb      1.00
Name: Datsun 710, dtype: float64

In [3660]:
cars.ix["Datsun 710"]="new data"
cars.ix["Datsun 710"]

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

mpg     new data
cyl     new data
disp    new data
hp      new data
drat    new data
wt      new data
qsec    new data
vs      new data
am      new data
gear    new data
carb    new data
Name: Datsun 710, dtype: object

In [3661]:
cars.ix[13:,:6]

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

                      mpg  cyl   disp   hp  drat     wt
model
Hornet Sportabout    18.7    8    360  175  3.15   3.44
Lincoln Continental   NaN  NaN    NaN  NaN   NaN  5.424
Lotus Europa         30.4    4   95.1  113  3.77  1.513
Maserati Bora          15    8    301  335  3.54   3.57
Mazda RX4              21    6    160  110   3.9   2.62
Mazda RX4 Wag          21    6    160  110   3.9  2.875
Merc 230             22.8    4  140.8   95  3.92   3.15
Merc 240D            24.4    4  146.7   62  3.69   3.19
Merc 280             19.2    6  167.6  123  3.92   3.44
Merc 280C            17.8    6  167.6  123  3.92   3.44
Merc 450SE           16.4    8  275.8  180  3.07   4.07
Merc 450SL            NaN  NaN  275.8  180  3.07   3.73
Merc 450SLC           NaN  NaN  275.8  180  3.07   3.78
Pontiac Firebird     19.2    8    400  175  3.08  3.845
Toyota Corolla       33.9    4    NaN  NaN   NaN    NaN
Toyota Corona        21.5    4  120.1   97   3.7    NaN
Valiant              18.1    6    225  105  2.76   3.46
Volvo 142E           21.4    4    121  109  4.11   2.78
NaN                   NaN  NaN    NaN  NaN   NaN    NaN

In [3662]:
cars.ix[13:,:6]="testing data"
cars

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
AMC Javelin,15.2,8,304,150,3.15,3.435,17.3,0,0,NaN,NaN
Cadillac Fleetwood,NaN,NaN,NaN,NaN,NaN,5.25,17.98,0,0,3,4
Camaro Z28,13.3,8,350,245,3.73,3.84,15.41,0,0,NaN,NaN
Chrysler Imperial,14.7,8,NaN,NaN,NaN,5.345,17.42,0,0,3,4
Datsun 710,new data,new data,new data,new data,new data,new data,new data,new data,new data,new data,new data
Dodge Challenger,15.5,8,318,150,2.76,NaN,NaN,9,NaN,NaN,NaN
Duster 360,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4
Ferrari Dino,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6
Fiat 128,32.4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1
Fiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1
Ford Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4
Honda Civic,30.4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2
Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,testing data,testing data,testing data,testing data,testing data,testing data,17.02,0,0,3,2
Lincoln Continental,testing data,testing data,testing data,testing data,testing data,testing data,17.82,0,0,3,4
Lotus Europa,testing data,testing data,testing data,testing data,testing data,testing data,16.9,1,1,5,2
Maserati Bora,testing data,testing data,testing data,testing data,testing data,testing data,14.6,0,1,5,8
Mazda RX4,testing data,testing data,testing data,testing data,testing data,testing data,16.46,0,1,4,4
Mazda RX4 Wag,testing data,testing data,testing data,testing data,testing data,testing data,17.02,0,1,4,4
Merc 230,testing data,testing data,testing data,testing data,testing data,testing data,22.9,1,0,4,2
Merc 240D,testing data,testing data,testing data,testing data,testing data,testing data,20,1,0,4,2
Merc 280,testing data,testing data,testing data,testing data,testing data,testing data,18.3,1,0,4,4
Merc 280C,testing data,testing data,testing data,testing data,testing data,testing data,18.9,1,0,4,4
Merc 450SE,testing data,testing data,testing data,testing data,testing data,testing data,17.4,0,0,3,3
Merc 450SL,testing data,testing data,testing data,testing data,testing data,testing data,17.6,0,0,3,3
Merc 450SLC,testing data,testing data,testing data,testing data,testing data,testing data,18,0,0,3,3
Pontiac Firebird,testing data,testing data,testing data,testing data,testing data,testing data,17.05,0,0,3,2
Toyota Corolla,testing data,testing data,testing data,testing data,testing data,testing data,NaN,NaN,NaN,4,1
Toyota Corona,testing data,testing data,testing data,testing data,testing data,testing data,NaN,NaN,NaN,NaN,NaN
Valiant,testing data,testing data,testing data,testing data,testing data,testing data,20.22,1,0,3,1
Volvo 142E,testing data,testing data,testing data,testing data,testing data,testing data,18.6,1,1,4,2
NaN,testing data,testing data,testing data,testing data,testing data,testing data,NaN,NaN,NaN,NaN,NaN

In [3663]:
cars.ix[7,[6,8,10]]=["testing data","gdsgfnvbf","qqqqqqqqqqqqqqqqqqqqqqqqqqqqqq"]
cars.ix[7,[6,8,10]]

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

qsec                      testing data
am                           gdsgfnvbf
carb    qqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
Name: Ferrari Dino, dtype: object

In [3664]:
#setting multiple values in a dataset
cars=m.read_csv("F:\carx.csv",index_col="model")
cars.sort_index(inplace=True)
cars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,year,type,price,mileage,color,transmission
model,,,,,,,,,,,,,,,,,
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,2011,SE,15899,36685,Silver,AUTO
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,2011,SE,16000,15367,White,MANUAL
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,2010,SEL,15889,24920,Black,AUTO
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,2010,SEL,15999,19926,Silver,AUTO
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2011,SEL,19995,7351,Silver,AUTO
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,2010,SEL,15980,39943,White,AUTO
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2011,SEL,17000,27393,Blue,MANUAL
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2010,SES,15995,36049,Silver,MANUAL
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2010,SE,15500,29338,Blue,MANUAL
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2011,SEL,15992,11662,Blue,AUTO
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,2011,SEL,17809,11613,Gray,AUTO
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,2012,SE,17500,8367,White,MANUAL
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2011,SES,15999,16368,Blue,AUTO
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2011,SEL,21992,7413,Yellow,MANUAL
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2011,SEL,20995,10926,Gray,MANUAL
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2011,SES,16995,32655,Silver,AUTO
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2010,SEL,16995,21026,Silver,AUTO
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2010,SES,16995,36116,Silver,MANUAL
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2010,SES,16995,40539,Black,AUTO
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,2011,SES,16992,9199,Silver,AUTO
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,2011,SEL,16950,9388,Green,MANUAL
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,2010,SES,16950,32058,Red,MANUAL
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2009,SEL,15688,20019,Blue,MANUAL
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2010,SE,15499,7784,Black,AUTO
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2011,SEL,15992,32069,Silver,AUTO
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,2010,SES,15988,16035,Silver,MANUAL
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,2010,SEL,17495,25125,Silver,MANUAL

In [3665]:
cars.color

model
AMC Javelin            Silver
Cadillac Fleetwood      White
Camaro Z28              Black
Chrysler Imperial      Silver
Datsun 710             Silver
Dodge Challenger        White
Duster 360               Blue
Fiat 128               Silver
Fiat X1-9                Blue
Honda Civic              Blue
Hornet 4 Drive           Gray
Hornet Sportabout       White
Lincoln Continental      Blue
Mazda RX4              Yellow
Mazda RX4 Wag            Gray
Merc 230               Silver
Merc 240D              Silver
Merc 280               Silver
Merc 280C               Black
Merc 450SE             Silver
Merc 450SL              Green
Merc 450SLC               Red
Pontiac Firebird         Blue
Porsche 914-2           Black
Toyota Corolla         Silver
Toyota Corona          Silver
Valiant                Silver
Name: color, dtype: object

In [3666]:
cars.color=="Blue"
mask=cars.color=="Blue" #EXTRACTING BLUE CARS
cars[mask]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,year,type,price,mileage,color,transmission
model,,,,,,,,,,,,,,,,,
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2011,SEL,17000,27393,Blue,MANUAL
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2010,SE,15500,29338,Blue,MANUAL
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2011,SEL,15992,11662,Blue,AUTO
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2011,SES,15999,16368,Blue,AUTO
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2009,SEL,15688,20019,Blue,MANUAL

In [3667]:
cars[mask]["color"] #cars[mask]+["color" column]
# means interpreter first getcars[mask] data than apply ["color"] column from that data of cars[mask]
#this is a way to access any column data from condition filtered data cars[mask]

model
Duster 360             Blue
Fiat X1-9              Blue
Honda Civic            Blue
Lincoln Continental    Blue
Pontiac Firebird       Blue
Name: color, dtype: object

In [3668]:
cars[mask].color #cars[mask]+["color" column]
# means interpreter first getcars[mask] data than apply ["color"] column from that data of cars[mask]
#this is a way to access any column data from condition filtered data cars[mask]

model
Duster 360             Blue
Fiat X1-9              Blue
Honda Civic            Blue
Lincoln Continental    Blue
Pontiac Firebird       Blue
Name: color, dtype: object

In [3669]:
cars[mask].cyl #cars[mask]+["cyl" column]
# means interpreter first getcars[mask] data than apply ["cyl"] column from that data of cars[mask]
#this is a way to access any column data from condition filtered data cars[mask]

model
Duster 360             8
Fiat X1-9              4
Honda Civic            4
Lincoln Continental    8
Pontiac Firebird       8
Name: cyl, dtype: int64

In [3670]:
cars[mask].am #cars[mask]+["am" column]
# means interpreter first getcars[mask] data than apply ["am"] column from that data of cars[mask]
#this is a way to access any column data from condition filtered data cars[mask]

model
Duster 360             0
Fiat X1-9              1
Honda Civic            1
Lincoln Continental    0
Pontiac Firebird       0
Name: am, dtype: int64

In [3671]:
cars[mask]["color"]="new data" #trying to change color column data from blue to "new data"
#the line is executed butwe get warning "A value is trying to be set on a copy of a slice from a DataFrame."
# it means line executed but actual data is not changed, cars[mask]["color"] is still blue we can see in next cell

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [3672]:
# above syntax executed but actual data is not changed, cars[mask]["color"] is still blue we can see below
cars[mask]["color"]
# data didnt actualy change with cars[mask]["color"]="new data"

model
Duster 360             Blue
Fiat X1-9              Blue
Honda Civic            Blue
Lincoln Continental    Blue
Pontiac Firebird       Blue
Name: color, dtype: object

In [3673]:
cars[mask] # no change in color blue

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,year,type,price,mileage,color,transmission
model,,,,,,,,,,,,,,,,,
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2011,SEL,17000,27393,Blue,MANUAL
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2010,SE,15500,29338,Blue,MANUAL
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2011,SEL,15992,11662,Blue,AUTO
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2011,SES,15999,16368,Blue,AUTO
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2009,SEL,15688,20019,Blue,MANUAL

In [3674]:
cars1=cars[mask] #data copied to another variable cars1
cars1.color="new data" # we still get same warning "A value is trying to be set on a copy of a slice from a DataFrame."
cars1
# but color now changed to "new data" in cars1 dataset
#cars1.color

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,year,type,price,mileage,color,transmission
model,,,,,,,,,,,,,,,,,
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2011,SEL,17000,27393,new data,MANUAL
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2010,SE,15500,29338,new data,MANUAL
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2011,SEL,15992,11662,new data,AUTO
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2011,SES,15999,16368,new data,AUTO
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2009,SEL,15688,20019,new data,MANUAL

In [3675]:
cars[mask].color=cars1.color # we save cars1.color to cars[mask].color to change its data from blue to "new data"
cars #but in output data is still not changed bcoz we are still working on copy of original dataset

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,year,type,price,mileage,color,transmission
model,,,,,,,,,,,,,,,,,
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,2011,SE,15899,36685,Silver,AUTO
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,2011,SE,16000,15367,White,MANUAL
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,2010,SEL,15889,24920,Black,AUTO
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,2010,SEL,15999,19926,Silver,AUTO
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2011,SEL,19995,7351,Silver,AUTO
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,2010,SEL,15980,39943,White,AUTO
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2011,SEL,17000,27393,Blue,MANUAL
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2010,SES,15995,36049,Silver,MANUAL
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2010,SE,15500,29338,Blue,MANUAL
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2011,SEL,15992,11662,Blue,AUTO
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,2011,SEL,17809,11613,Gray,AUTO
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,2012,SE,17500,8367,White,MANUAL
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2011,SES,15999,16368,Blue,AUTO
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2011,SEL,21992,7413,Yellow,MANUAL
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2011,SEL,20995,10926,Gray,MANUAL
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2011,SES,16995,32655,Silver,AUTO
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2010,SEL,16995,21026,Silver,AUTO
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2010,SES,16995,36116,Silver,MANUAL
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2010,SES,16995,40539,Black,AUTO
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,2011,SES,16992,9199,Silver,AUTO
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,2011,SEL,16950,9388,Green,MANUAL
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,2010,SES,16950,32058,Red,MANUAL
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2009,SEL,15688,20019,Blue,MANUAL
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2010,SE,15499,7784,Black,AUTO
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2011,SEL,15992,32069,Silver,AUTO
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,2010,SES,15988,16035,Silver,MANUAL
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,2010,SEL,17495,25125,Silver,MANUAL

In [3676]:
#data not changing in dataset bcoz all oprations done on copy of datasets
# oprations like iloc/loc/ix/inplace=true makes permanent changes in original dataset values BECAUSE THEY ACCESS ORIGINAL DATASET NOT JUST COPY so
#any changes done by them will be done on original datasets, not just its copy and would show changes in output unlike above
mask=cars.color=="Blue" #extracting blue cars
cars.ix[mask] #here mask acts as rows in ix[ROW,COLUMN] methods
# WARNING NOT RECIVED ""A value is trying to be set on a copy of a slice from a DataFrame.""
#BECAUSE  iloc/loc/ix/inplace=true THEY ACCESS ORIGINAL DATASET NOT JUST COPY
cars.ix[mask,"color"] #accessing mask as row and "color" column #till now color blue
#but when we change color using iloc/loc/ix, original data accessed and value in original dataset changed
cars.ix[mask,"color"]="new data"
cars.color # we find in output that color blue replaced by "new data"  in output

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """
c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:8: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:10: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  # Remove the CWD from sys.path while we load stuff.

model
AMC Javelin              Silver
Cadillac Fleetwood        White
Camaro Z28                Black
Chrysler Imperial        Silver
Datsun 710               Silver
Dodge Challenger          White
Duster 360             new data
Fiat 128                 Silver
Fiat X1-9              new data
Honda Civic            new data
Hornet 4 Drive             Gray
Hornet Sportabout         White
Lincoln Continental    new data
Mazda RX4                Yellow
Mazda RX4 Wag              Gray
Merc 230                 Silver
Merc 240D                Silver
Merc 280                 Silver
Merc 280C                 Black
Merc 450SE               Silver
Merc 450SL                Green
Merc 450SLC                 Red
Pontiac Firebird       new data
Porsche 914-2             Black
Toyota Corolla           Silver
Toyota Corona            Silver
Valiant                  Silver
Name: color, dtype: object

In [3677]:
#similarly changing yellow color to "changed again"
cars[cars.color=="Yellow"]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,year,type,price,mileage,color,transmission
model,,,,,,,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.9,2.62,16.46,0,1,4,4,2011,SEL,21992,7413,Yellow,MANUAL

In [3678]:
mask=cars.color=="Yellow"
cars[mask]
cars.ix[mask,"color"]="changed again" #ix[row,column]=>ix[mask,"color"] mask row color column
cars.color # in output data color changed "Mazda RX4" "changed again"

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

model
AMC Javelin                   Silver
Cadillac Fleetwood             White
Camaro Z28                     Black
Chrysler Imperial             Silver
Datsun 710                    Silver
Dodge Challenger               White
Duster 360                  new data
Fiat 128                      Silver
Fiat X1-9                   new data
Honda Civic                 new data
Hornet 4 Drive                  Gray
Hornet Sportabout              White
Lincoln Continental         new data
Mazda RX4              changed again
Mazda RX4 Wag                   Gray
Merc 230                      Silver
Merc 240D                     Silver
Merc 280                      Silver
Merc 280C                      Black
Merc 450SE                    Silver
Merc 450SL                     Green
Merc 450SLC                      Red
Pontiac Firebird            new data
Porsche 914-2                  Black
Toyota Corolla                Silver
Toyota Corona                 Silver
Valiant                       Silver
Name: color, dtype: object

In [3679]:
# similarly "manual" transmission to "non automatic"
mask=cars.transmission=="MANUAL"
cars[mask]
cars.ix[mask,"transmission"]="non automatic"
cars.transmission #data changed from "MANUAL" to "non automatic"

c:\users\misra\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

model
AMC Javelin                     AUTO
Cadillac Fleetwood     non automatic
Camaro Z28                      AUTO
Chrysler Imperial               AUTO
Datsun 710                      AUTO
Dodge Challenger                AUTO
Duster 360             non automatic
Fiat 128               non automatic
Fiat X1-9              non automatic
Honda Civic                     AUTO
Hornet 4 Drive                  AUTO
Hornet Sportabout      non automatic
Lincoln Continental             AUTO
Mazda RX4              non automatic
Mazda RX4 Wag          non automatic
Merc 230                        AUTO
Merc 240D                       AUTO
Merc 280               non automatic
Merc 280C                       AUTO
Merc 450SE                      AUTO
Merc 450SL             non automatic
Merc 450SLC            non automatic
Pontiac Firebird       non automatic
Porsche 914-2                   AUTO
Toyota Corolla                  AUTO
Toyota Corona          non automatic
Valiant                non automatic
Name: transmission, dtype: object

In [3680]:
cars=m.read_csv("F:\carx.csv")
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,year,type,price,mileage,color,transmission
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2011,SEL,21992,7413,Yellow,MANUAL
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2011,SEL,20995,10926,Gray,MANUAL
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2011,SEL,19995,7351,Silver,AUTO
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,2011,SEL,17809,11613,Gray,AUTO
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,2012,SE,17500,8367,White,MANUAL
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,2010,SEL,17495,25125,Silver,MANUAL
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2011,SEL,17000,27393,Blue,MANUAL
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2010,SEL,16995,21026,Silver,AUTO
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2011,SES,16995,32655,Silver,AUTO
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2010,SES,16995,36116,Silver,MANUAL
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2010,SES,16995,40539,Black,AUTO
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,2011,SES,16992,9199,Silver,AUTO
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,2011,SEL,16950,9388,Green,MANUAL
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,2010,SES,16950,32058,Red,MANUAL
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,2011,SE,16000,15367,White,MANUAL
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2011,SES,15999,16368,Blue,AUTO
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,2010,SEL,15999,19926,Silver,AUTO
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2010,SES,15995,36049,Silver,MANUAL
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2011,SEL,15992,11662,Blue,AUTO
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2011,SEL,15992,32069,Silver,AUTO
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,2010,SES,15988,16035,Silver,MANUAL
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,2010,SEL,15980,39943,White,AUTO
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,2011,SE,15899,36685,Silver,AUTO
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,2010,SEL,15889,24920,Black,AUTO
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2009,SEL,15688,20019,Blue,MANUAL
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2010,SE,15500,29338,Blue,MANUAL
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2010,SE,15499,7784,Black,AUTO